<div class="sidebar">
  <div class="icon-container">
    <div class="d-flex align-self-start mb-5 sidebar__icon">
      <img src="../../../../assets/images/reef/reef.svg" width="100" height="50" class="img-fluid"/>
    </div>
    <div
      id="myBaskets"
      [routerLink]="['/baskets']"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active"
      class="d-flex justify-content-start align-items-center text-center menu-item w-100 py-1 mb-3">
      <div
        class="la la-balance-scale mr-2 pl-3"></div>
      <div class="sidebar__label">MY BASKETS</div>
    </div>
    <div
      id="createBasket"
      [routerLink]="['/baskets/create-basket']"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active"
      class="d-flex justify-content-start align-items-center text-center menu-item w-100 py-1 mb-3">
      <div
        class="la la-shopping-basket mr-2 pl-3"></div>
      <div class="sidebar__label">CREATE BASKET</div>
    </div>
    <div
      id="buyReef"
      [routerLink]="['/reef']"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active"
      class="d-flex justify-content-start align-items-center text-center menu-item w-100 py-1 mb-3">
      <div
        class="la la-swimming-pool mr-2 pl-3"></div>
      <div class="sidebar__label">BUY REEF</div>
    </div>
    <div
      id="vaults"
      [routerLink]="['/vaults']"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active"
      class="d-flex justify-content-start align-items-center text-center menu-item w-100 py-1 mb-3">
      <div
        class="la la-coins mr-2 pl-3"></div>
      <div class="sidebar__label">VAULTS</div>
    </div>
  </div>
</div>
