.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
  position: fixed;
  z-index: 999;
  width: 220px;
}

//.sidebar__label {
//  @include media-breakpoint-down(md) {
//    display: none;
//  }
//}
//
//.sidebar__icon {
//  margin-left: 1rem;
//  @include media-breakpoint-down(md) {
//    margin: 0 5px;
//  }
//}

.sidebar__divider {
  background: black;
  opacity: 0.4;
  width: 90%;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
}
