@import '~src/assets/scss/styles';

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(136,126,242);
  background: linear-gradient(180deg, rgba(136,126,242,1) 0%, rgba(0,212,255,1) 100%);
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: 1px 0 5px 0 darken(map-get($theme-colors, light), 50);
  -moz-box-shadow: 1px 0 5px 0 darken(map-get($theme-colors, light), 50);
  box-shadow: 1px 0 5px 0 darken(map-get($theme-colors, light), 50);
  @include media-breakpoint-between(sm, xl) {
    width: $sidebar-width;
  }
  @include media-breakpoint-down(md) {
    width: $mobile-sidebar-width;
  }
}

.sidebar__label {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.sidebar__icon {
  margin-left: 1rem;
  @include media-breakpoint-down(md) {
    margin: 0 5px;
  }
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.menu-item {
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s;
  &:hover {
    background: #EAE8FD;
    color: $sidebar-primary;
    cursor: pointer;
  }
}

.active {
  background: #EAE8FD;
  color: $sidebar-primary;
  cursor: pointer;
}
