@import '../../../../assets/scss/partials/variables';

.sidebar {
  width: $sidebar-width;
  min-height: 100vh;
  background-color: $sidebar-primary;
  position: fixed;
  z-index: 999;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: #ffffff;
}

.menu-item {
  font-size: 18px;
  font-weight: 500;
  &:hover {
    background: #EAE8FD;
    color: $sidebar-primary;
    cursor: pointer;
  }
}

.active {
  background: #EAE8FD;
  color: $sidebar-primary;
  cursor: pointer;
}
