@import '~src/assets/scss/partials/variables';

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 30px;
  z-index: 998;
  border-radius: 8px;
  box-shadow: 0 0 8px #00000024;
  padding: 10px;
}
