<!-- Image and text -->
<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/images/reef/reef.svg" width="50" height="50"
         class="d-inline-block align-top header__logo" alt="">
  </a>
  <div *ngIf="providerUserInfo">
    <div *ngIf="providerName">Connected to: {{ providerName }} on chain {{ providerUserInfo.chainInfo.name }}</div>
    <strong>Balance: </strong>{{ providerUserInfo.balance | slice:0:8 }} <strong>ETH</strong>
    <strong class="ml-2">Address: </strong>{{ providerUserInfo.address}} </div>
    <div [routerLink]="['/my-baskets']">My Baskets</div>
</nav>

