<nav
  [ngClass]="providerUserInfo ? 'bg-white' : 'bg-light'"
  class="header bg-secondary">
  <div *ngIf="providerUserInfo; else noWalletTemplate" class="d-flex justify-content-center align-items-center">
    <app-content-box
      id="ethWalletAmount"
      *ngIf="ethPrice && ethPrice.ethereum.usd">
      <div>
        <span>
          {{ providerUserInfo.balance | number }}
        </span>
        <span class="cc ETH"></span>
      </div>
      <div class="small">
        (1ETH = ${{ ethPrice.ethereum.usd }})
      </div>
    </app-content-box>
    <app-content-box
      id="usdAmount"
      *ngIf="ethPrice && ethPrice.ethereum.usd">
      <div>${{ (providerUserInfo.balance * ethPrice.ethereum.usd) | number }}</div>
      <div class="small">USD</div>
    </app-content-box>
    <app-content-box id="reefTokenAmount" class="mr-4">
      <div>
        <span>
          {{ (providerUserInfo.reefBalance || 0) | number }}
        </span>
        <img src="../../../../assets/images/reef/reef-token.png" width="16" height="16">
      </div>
      <div class="small">
        (1REEF = $1)
      </div>
    </app-content-box>
    <app-content-box
      [isAddress]="true">
      <app-address-shortener
        [address]="providerUserInfo.address"></app-address-shortener>
    </app-content-box>
  </div>
</nav>

<ng-template #noWalletTemplate>
  <div class="mr-2">
    <mat-icon color="warn" aria-hidden="false" aria-label="no wallet">account_balance_wallet
    </mat-icon>
  </div>
</ng-template>
