.header__logo {
  transform: scale(1.5);
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

.header__shadow {
  box-shadow: 0 3px 9px -1px #cccacc;
}
