<ng-container
  *ngIf="poolsAndTokens$ | async as poolsAndTokens; else loadingTemplate"
>
  <div class="row page__wrapper">
    <div class="col-6">
      <app-custom-basket-pools
        [poolsAndTokens]="poolsAndTokens"
        [canAddPools]="Object.keys(chartPoolData).length < COMPOSITION_LIMIT"
        [chartPoolData]="chartPoolData"
        (addPool)="addPool($event)"
      >
      </app-custom-basket-pools>
    </div>
    <div class="col-6">
      <app-custom-basket-composition
        [basket]="chartPoolData"
        [disabledSlider]="Object.keys(chartPoolData).length === 1"
        (removePool)="removePool($event)"
        (changeAllocation)="editBasketAllocation($event)"
        (invest)="onInvest()"
      >
      </app-custom-basket-composition>
    </div>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <app-loading [isWholePage]="true"></app-loading>
</ng-template>
