<ng-container
  *ngIf="pools$ | async as pools; else loadingTemplate">
  <div class="row page__wrapper">
    <div class="col-6">
      <app-custom-basket-pools
        [pools]="pools"
        [disabledSlider]="Object.keys(chartPoolData).length === 1"
        [canAddPools]="Object.keys(chartPoolData).length < COMPOSITION_LIMIT"
        [chartPoolData]="chartPoolData"
        (addPool)="addPool($event)"
        (changeAllocation)="editBasketAllocation($event)"
        (removePool)="removePool($event)"
      >
      </app-custom-basket-pools>
    </div>
    <div class="col-6">
      <div class="content__container">
        <ng-container *ngIf="chartOptions && Object.keys(chartPoolData).length > 0; else emptyChartsTemplate">
          <div class="heading__lg">Composition</div>
          <div class="subheading__lg mb-2">You can modify the allocated amount using the sliders</div>
          <div class="row ml-2 mb-2">
            <mat-chip-list>
              <mat-chip
                *ngFor="let poolSymbol of Object.keys(chartPoolData)"
                [removable]="true"
                (removed)="removePool(poolSymbol)">
                {{ poolSymbol }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
          <app-basket-composition
            [isList]="true"
            [basket]="chartPoolData"
          ></app-basket-composition>
          <div class="d-flex justify-content-center mt-3">
            <button class="button-large regular" (click)="onInvest()">Invest</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #emptyChartsTemplate>
  <div class="heading__lg">Add a pool to start customizing your basket</div>
</ng-template>

<ng-template #loadingTemplate>
  <app-loading [isWholePage]="true"></app-loading>
</ng-template>
