<div
  id="createBasketComp"
  class="content__container">
  <div class="heading__lg create-basket__heading mb-3">
    CREATE BASKET
  </div>
  <div class="mb-3">
    <div class="d-flex mb-3">
      <label class="label__lg mr-1" for="ethAmount">Enter your amount</label>
      <div class="label__lg">(Minimal investment:
        <span class="font-weight-bold">{{ minimalInvestment | number:'1.2-5' }} ETH</span>)
      </div>
    </div>
    <div class="d-flex align-items-center mb-3">
      <input
        class="create-basket__input form-control mr-2"
        id="ethAmount"
        [formControl]="ethAmount"
        placeholder="Amount of ETH" type="number"/>
      <img width="40" height="40" src="../../../../../assets/images/eth.png"/>
    </div>
    <div class="my-1">
      <div *ngIf="ethAmount.value > +ethBalance">
        <p class="font-danger">You can invest a maximum of <strong>{{ ethBalance | number:'1.2-5' }} ETH</strong></p>
      </div>
    </div>
    <div *ngIf="ethBalance">
      <app-percentage-buttons
        (selectPercentage)="onPercentageChange($event)"
        [value]="+ethBalance">
      </app-percentage-buttons>
    </div>
  </div>
  <div class="mb-3">
    <div>
      <label class="label__lg mb-2" for="risk">Risk</label>
    </div>
    <div>
      <mat-radio-group id="risk" [formControl]="riskAmount">
        <mat-radio-button class="subheading__lg mr-3" value="low">Low</mat-radio-button>
        <mat-radio-button class="subheading__lg mr-3" value="medium">Medium</mat-radio-button>
        <mat-radio-button class="subheading__lg mr-3" value="high">High</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center mt-auto">
    <button
      [disabled]="!ethAmount.value || ethAmount.value <= 0 || ethAmount.value > +ethBalance
       || +ethBalance < +minimalInvestment"
      mat-ripple (click)="onInvest()" class="button-large regular mb-1 w-100">INVEST
    </button>
  </div>
</div>
