<div class="content__container">
  <div class="heading__lg create-basket__heading">
    Create Basket
  </div>
  <div class="amount__wrapper">
    <label class="label__lg mb-3" for="ethAmount">Enter your amount</label>
    <div class="d-flex align-items-center">
      <input
        class="create-basket__input form-control mr-2"
        id="ethAmount"
        [formControl]="ethAmount"
        placeholder="Amount of ETH" type="number"/>
      <img width="50" height="50" src="../../../../../assets/images/eth.png"/>
    </div>
  </div>
  <div class="risk__wrapper">
    <div>
      <label class="heading__lg mb-2" for="risk">Risk</label>
    </div>
    <div>
      <mat-slider
        id="risk"
        thumbLabel
        class="w-100"
        min="1" max="100" step="1" [formControl]="riskAmount"></mat-slider>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <button mat-ripple (click)="onInvest()" class="button-large regular mb-3">Invest Now</button>
    <a class="text-lightest small" [routerLink]="['/baskets/custom-basket']">Create a custom basket instead?</a>
  </div>
</div>
