$min-width: 500px;

.gas-price__item {
  &:hover {
    background-color: #6f42c1;
    color: white;
  }

  cursor: pointer;
}

.gas-price__item--selected {
  background-color: #6f42c1;
  color: white;
}

.min-height-100px {
  min-height: 100px;
}

.ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .transactions {
    overflow-x: auto;
  }

  .transaction-header,
  .transaction-item {
    min-width: $min-width;
  }

  .mat-divider {
    min-width: calc(#{$min-width} - 1.25rem);
  }
}
