<div class="row">
  <div class="col">
    <app-page-title
      title="Dashboard"
      subtitle="View your transactions, balances, and more."></app-page-title>
  </div>
</div>

<div class="page__wrapper row justify-content-between">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <ng-container *ngIf="providerUserInfo$ | async as userInfo; else loadingTemplate">
          <ng-container *ngIf="tokens$ | async as tokens; else loadingTemplate">
            <div class="d-flex justify-content-between mb-3">
              <div class="h6">
                Balances
              </div>
              <div class="text-monospace small">Total Balance: ${{ (tokens.totalBalance || 0) | number:'1.1-3' }}</div>
            </div>
            <div class="mb-3">
              <mat-divider></mat-divider>
            </div>
            <div
              *ngFor="let token of tokens.tokens"
              class="row d-flex align-items-center justify-content-between mb-2">
              <div class="col d-flex align-items-center">
                <img
                  class="img-fluid mr-1"
                  [src]="token.logo_url" height="20" width="20">
                <div class="small font-weight-bolder">{{ token.contract_ticker_symbol }}</div>
              </div>
              <div class="col">
                <div class="text-monospace small">
                  {{ (token.balance || 0) | number }}
                </div>
              </div>
              <div class="col">
                <div class="text-monospace small">
                  ${{(token.quote_rate * token.balance) | number}}
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <div class="h6 mb-4">
          Transactions
        </div>
        <div class="row mb-2 d-flex justify-content-between">
          <div class="col-4">
            <div class="text-monospace small text-muted">Hash</div>
          </div>
          <div class="col-2">
            <div class="text-monospace small text-muted">Date</div>
          </div>
          <div class="col-3">
            <div class="text-monospace small text-muted">To Address</div>
          </div>
          <div class="col-3 col-auto">
            <div class="text-monospace small text-muted">Tokens</div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <mat-divider></mat-divider>
          </div>
        </div>
        <div *ngIf="transactions$ | async as transactions; else loadingTemplate">
          <div *ngIf="transactions && transactions.length > 0; else emptyTransactions">
            <div
              class="row d-flex justify-content-between mb-1 align-items-center"
              *ngFor="let transaction of transactions">
              <div class="col-4">
                <app-address-shortener
                  [standalone]="false"
                  [address]="transaction.tx_hash">
                </app-address-shortener>
              </div>
              <div class="col-2">
                <div class="small">
                  {{ transaction.block_signed_at | date:'shortDate' }}
                </div>
              </div>
              <div class="col-3">
                <div>
                  <app-address-shortener
                    [standalone]="false"
                    [address]="transaction.to_address">
                  </app-address-shortener>
                </div>
              </div>
              <div class="col-3 col-auto d-flex justify-content-between">
                <span class="small font-weight-bold">
                  {{ transaction.value }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadingTemplate>
    <app-skeleton-loading type="transactions" [count]="3"></app-skeleton-loading>
  </ng-template>
  <ng-template #emptyTransactions>
    <div class="d-flex justify-content-center align-items-center">
      <span class="small mt-2">You have not made any transactions in the recent past.</span>
    </div>
  </ng-template>
</div>
