@import './base';

@import "~bootstrap";


html, body {
  height: 100%;
}

body {
  color: theme-color('primary');
  background-color: theme-color('light');
  font-family: 'Poppins', 'Roboto', sans-serif;
}

.c-pointer {
  cursor: pointer;
}

.error.mat-snack-bar-container {
  background: map-get($theme-colors, danger);
  color: white;
}

.success.mat-snack-bar-container {
  background: map-get($theme-colors, success);
  color: white;
}

.info.mat-snack-bar-container {
  background: map-get($theme-colors, info);
  color: white;
}
