@import './base';

@import "~bootstrap";


html, body {
  height: 100%;
}

body {
  color: theme-color('primary');
  background-color: theme-color('light');
  font-family: 'Poppins', 'Roboto', sans-serif;
}

.c-pointer {
  cursor: pointer;
}
