<ng-container *ngIf="token$ | async as token">
  <ng-container *ngIf="!(error$ | async); else errorTemplate">
    <ng-container *ngIf="pricePerTokens$ | async as price; else loadingTemplate">
      <ng-container *ngIf="providerUserInfo$ | async as userInfo">
        <div class="row">
          <div class="col">
            <app-page-title
              title="Pool"
              subtitle="Get UNI-V2 LP Tokens by adding liquidity to the {{token}}/REEF pool"
            ></app-page-title>
          </div>
        </div>
        <div class="page__wrapper row">
          <div class="col-12 col-sm-8 offset-sm-2 offset-xl-4 col-xl-4">
            <div class="card max-w-350 margin-auto">
              <div class="card-body">
                <div class="text-center">
                  <img
                    class="img-size-top-65"
                    src="../../../../../assets/images/{{ token === 'ETH' ? 'eth.png' : 'usdt.png' }}" alt="alt-token">
                  <img
                    class="img-size-top-65"
                    src="../../../../../assets/images/reef/reef-token.svg" alt="reef-token">
                </div>
                <div class="h6 m-4 text-center">Get
                  <ng-container *ngIf="token !== 'TOKEN'">{{ token }}–</ng-container>
                  REEF LP token
                </div>

                <div class="d-flex flex-column  mb-4 text-muted">
                  <div>
                    <div class="small mb-1">REEF amount:</div>
                    <div class="d-flex ">
                      <input
                        [ngModel]="reefAmount" step="1"
                        (ngModelChange)="calcTokenAmount($event, price.TOKEN_PER_REEF)"
                        class="form-control text-monospace small accent-text"
                        id="reefAmount"
                        (keydown)="preventDecimal($event )"
                        placeholder="0" type="number"/>
                      <div class="w-5-pc">
                      <img style="height: 25px"
                        class="img-size-top-20 margin-em-05"
                        src="../../../../../assets/images/reef/reef-token.svg" alt="">
                      </div>
                    </div>
                    <ng-container *ngIf="(tokenBalanceReef$|async) as tokenBalanceReef">
                      <app-exceeded-balance-msg
                        *ngIf="tokenBalanceReef>0"
                        [balances]="[tokenBalanceReef]"
                        [selectedSymbol]="TokenSymbol.REEF" [tokenAmount]="reefAmount"
                      ></app-exceeded-balance-msg>
                      <app-set-input-relative-amount
                        [value]="tokenBalanceReef.balance"
                        (valueChange)="reefAmount=$event;calcTokenAmount($event, price.TOKEN_PER_REEF)"
                        [tokenSymbol]="TokenSymbol.REEF"
                        (refreshBalance)="apiService.refreshBalancesForAddress.next(tokenBalanceReef.address)"
                      ></app-set-input-relative-amount>
                    </ng-container>
                  </div>
                </div>
                <div
                  class="d-flex flex-column  mb-4 text-muted">
                  <div>
                    <div class="small mb-1">{{ token }} amount:</div>
                    <div class="d-flex ">
                      <input
                        [ngModel]="tokenAmount"
                        (ngModelChange)="calcReefAmount($event, price.REEF_PER_TOKEN)"
                        class="form-control text-monospace small accent-text"
                        id="tokenAmount"
                        placeholder="0.0" type="number"/>
                      <div class="w-5-pc">
                        <img class="img-size-top-20" [class.margin-em-05]="token !== 'ETH'"
                             [class.margin-em-03]="token === 'ETH'"
                             [class.img-size-top-25]="token === 'ETH'" [class.img-size-top-20]="token === 'USDT'"
                             src="../../../../../assets/images/{{ token === 'ETH' ? 'eth.png' : 'usdt.png' }}"
                             alt="alt-token">
                      </div>
                    </div>
                    <ng-container *ngIf="(tokenBalanceReefOposite$|async) as tokenBalanceReefOposite">

                      <app-exceeded-balance-msg
                        *ngIf="tokenBalanceReefOposite>0"
                        [balances]="[tokenBalanceReefOposite]"
                        [selectedSymbol]="TokenSymbol[tokenBalanceReefOposite.contract_ticker_symbol]"
                        [tokenAmount]="tokenAmount"
                      ></app-exceeded-balance-msg>
                      <app-set-input-relative-amount
                        [value]="tokenBalanceReefOposite.balance"
                        (valueChange)="tokenAmount=$event;calcReefAmount($event, price.REEF_PER_TOKEN)"
                        [tokenSymbol]="TokenSymbol[tokenBalanceReefOposite.contract_ticker_symbol]"
                        (refreshBalance)="apiService.refreshBalancesForAddress.next(tokenBalanceReefOposite.address)"
                      ></app-set-input-relative-amount>
                    </ng-container>
                  </div>
                </div>
<!--                <div-->
<!--                  class="row   mb-5">-->
<!--                  <div class="card col-6">-->
<!--                    <div class="card-body bg-purple">-->
<!--                      <div class="small text-monospace text-center text-white">Reef per {{ token }}</div>-->
<!--                      <div class="text-monospace text-center text-white">-->
<!--                        {{ price.REEF_PER_TOKEN }}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="card col-6">-->
<!--                    <div class="card-body bg-purple">-->
<!--                      <div class="small text-monospace text-center text-white">{{ token }} per Reef</div>-->
<!--                      <div class="text-monospace text-center text-white">-->
<!--                        {{ price.TOKEN_PER_REEF }}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="text-center">
                  <ng-container *ngIf="(tokenBalanceReef$|async) as tokenBalanceReef">
                  <ng-container *ngIf="(tokenBalanceReefOposite$|async) as tokenBalanceReefOposite">
                  <button
                    *ngIf="!loading"
                    [disabled]="!reefAmount || !tokenAmount
                      || reefAmount > tokenBalanceReef
                      || tokenAmount <= 0 || reefAmount <= 0
                      || tokenAmount > tokenBalanceReefOposite.balance
                      || reefAmount > tokenBalanceReef.balance"
                    (click)="addLiquidity(token)" class="btn btn-primary">
                    Add Liquidity
                  </button>
                  </ng-container>
                  </ng-container>
                  <app-loading *ngIf="loading" diameter="25"></app-loading>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #loadingTemplate>
    <div class="row mt-5">
      <div class="col-12 col-sm-8 offset-sm-2 offset-xl-4 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center justify-content-center mb-3">
              <div class="d-flex align-items-center mb-2">
                <div class="w-50">
                  <app-skeleton-loading [count]="1" type="circle" appearance="circle"></app-skeleton-loading>
                </div>
                <div class="w-50">
                  <app-skeleton-loading [count]="1" type="circle" appearance="circle"></app-skeleton-loading>
                </div>
              </div>
              <div class="mb-3 w-50">
                <app-skeleton-loading [count]="1" type="transaction"></app-skeleton-loading>
              </div>
              <div class="mb-3 w-50">
                <app-skeleton-loading [count]="2" type="vault"></app-skeleton-loading>
              </div>
              <div class="mb-3 w-50">
                <app-skeleton-loading [count]="1" type="composition"></app-skeleton-loading>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #errorTemplate>
    <app-empty-state
      title="Pool not found"
      subtitle="{{ token }}-REEF Pool is not supported yet.">
    </app-empty-state>
  </ng-template>
</ng-container>
