<ng-container>
  <div class="row page__wrapper justify-content-between">
    <div class="col">
      <app-diversify-vaults
        [ethBalance]="(userInfo | async)?.balance"
        [ethAmount]="ethAmount"
        (percentageChange)="onPercentageChange($event)"
        (diversifyChange)="onDiversifyChange($event)"
        (invest)="onInvest()"
      ></app-diversify-vaults>
    </div>
    <div class="col">
      <app-vaults-list
        (vaultAllocChanged)="editVaultAlloc($event)"
        [vaults]="currentVaults"></app-vaults-list>
    </div>
  </div>
</ng-container>
