<div class="row page__wrapper justify-content-between">
  <div class="col-xl-6 col-md-12 mb-xl-0 mb-md-3 mb-sm-3 mb-xs-3 mb-3">
    <app-diversify-vaults
      [ethBalance]="(userInfo | async)?.balance"
      [ethAmount]="ethAmount"
      (percentageChange)="onPercentageChange($event)"
      (diversifyChange)="onDiversifyChange($event)"
      (invest)="onInvest()"
    ></app-diversify-vaults>
  </div>
  <div class="justify-content-xl-right col-xl-6 col-md-12">
    <app-vaults-list
      (vaultAllocChanged)="editVaultAlloc($event)"
      [vaults]="currentVaults"
    ></app-vaults-list>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-vaults-roi-chart
      [roiChartData]="vaultRoiChart"
      (dateSpanChange)="setChart($event)"
    ></app-vaults-roi-chart>
  </div>
</div>
