<ng-container *ngIf="contract$ | async as contract">
  <ng-container *ngIf="!(loading$ | async); else loadingTemplate">
    <ng-container *ngIf="!(basketsError$ | async); else errorTemplate">
      <ng-container *ngIf="baskets$ | async as allBaskets; else loadingTemplate">
        <ng-container *ngIf="allBaskets.length; else emptyStateTemplate">
          <div class="d-flex justify-content-between mt-3 mb-3">
            <div class="heading__lg">MY BASKETS</div>
            <div class="d-lg-flex d-xl-flex d-sm-none d-md-none d-none">
              <mat-slide-toggle [formControl]="isList">
                <div class="subheading__md">{{ isList.value ? 'List' : 'Grid' }} view</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div *ngIf="isList.value">
            <div class="mb-3" *ngFor="let basket of allBaskets; let i = index;">
              <app-basket
                [isListView]="isList.value"
                [basket]="basket"
                [basketIndex]="basket.index"
                (disinvest)="onDisinvest($event)">
              </app-basket>
            </div>
          </div>
          <div *ngIf="!isList.value">
            <div class="d-flex row">
              <div class="col-6 mb-3" *ngFor="let basket of allBaskets; let i = index;">
                <app-basket
                  [isListView]="isList.value"
                  [basket]="basket"
                  [basketIndex]="basket.index"
                  (disinvest)="onDisinvest($event)">
                </app-basket>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loadingTemplate>
  <div class="content__container w-100">
    <app-skeleton-loading
      animation="pulse"
      type="basket"></app-skeleton-loading>
  </div>
</ng-template>

<ng-template #emptyStateTemplate>
  <app-empty-state
    id="emptyBaskets"
    title="No baskets"
    subtitle="You have not invested in any baskets"
    [showCtaButton]="true"
    ctaButtonText="Start Investing!"
    (cta)="goToCreate()"
  ></app-empty-state>
</ng-template>

<ng-template #errorTemplate>
  <app-empty-state
    title="Whoops."
    subtitle="Something went wrong with fetching the baskets. Try again in a bit."
  ></app-empty-state>
</ng-template>
