<div class="row">
  <div class="col">
    <app-page-title
      title="Pools"
      subtitle="We currently support WETH & USDT Pools"></app-page-title>
  </div>
</div>
<div class="page__wrapper">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 h-100" *ngFor="let pool of pools">
      <div class="card m-2">
        <div class="card-body ">
          <div class="d-flex align-items-center justify-content-center mb-5">
            <img
              *ngFor="let img of pool.imgs"
              class="img-size-top-65"
              [src]="'assets/images/' + img">
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="h6">
              {{pool.name}}
            </div>
            <div class="text-monospace text-muted small text-center" [innerHTML]="pool.description">

            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center pb-3 m-2">
          <button [routerLink]="['/reef/pool', pool.link]" class="btn btn-primary">
            {{pool.btnLabel}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
