<div class="row">
  <app-page-title
    title="Pools"
    subtitle="We currently support ETH & USDT Pools"></app-page-title>
</div>

<div class="page__wrapper justify-content-around">
  <div class="row">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center mb-5">
            <img
              width="65"
              height="65"
              src="../../../../../assets/images/reef/reef-token.svg" alt="reef-token">
            <img
              width="65"
              height="65"
              src="../../../../../assets/images/eth.png" alt="eth-token">
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center mb-5">
            <div class="h6">
              REEF & ETH
            </div>
            <div class="text-monospace text-muted small text-center mb-1">
              Provide REEF and ETH into this pool to get
              <strong class="font-weight-bold">REEF-ETH</strong>
              LP Tokens
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button [routerLink]="['/reef/pool', 'WETH']" class="btn btn-primary">
              Provide Liquidity into REEF/WETH
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center mb-5">
            <img
              width="65"
              height="65"
              src="../../../../../assets/images/reef/reef-token.svg" alt="reef-token">
            <img
              width="65"
              height="65"
              src="../../../../../assets/images/usdt.png" alt="usdt-token">
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center mb-5">
            <div class="h6">
              REEF & USDT
            </div>
            <div class="text-monospace text-muted small text-center mb-1">
              Invest REEF and USDT into this pool to get
              <strong class="font-weight-bold">REEF-USDT</strong>
              LP Tokens
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button [routerLink]="['/reef/pool', 'USDT']" class="btn btn-primary">
              Provide Liquidity into REEF/USDT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
