<div class="d-flex flex-column">
  <div class="card-body">
    <div class="h6 mb-2">REEF Price</div>
    <div class="d-flex flex-column">
      <!--<div class="row">
        <div class="col-3 offset-9">
          <mat-select
            placeholder="Last 1 month"
            id="selectMonth">
            <mat-option
              (click)="onDateChange(time)"
              *ngFor="let time of [1, 6, 12]" [value]="time">
              Last {{ time }} month(s)
            </mat-option>
          </mat-select>
        </div>
      </div>-->
      <ng-container *ngIf="!priceError; else errorTemplate">
        <div *ngIf="options && options.chart; else loadingTemplate">
          <highcharts-chart
            [Highcharts]="HighCharts"
            [options]="options"
            [(update)]="updateFlag"
            style="width: 100%; height: 400px; display: block"
          ></highcharts-chart>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="d-flex justify-content-center align-items-center">
    <span class="small mt-3"
      >Something went wrong while calculating the REEF Historical Price.
    </span>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <app-skeleton-loading type="chart" count="4"></app-skeleton-loading>
</ng-template>
