<div class="content__container row">
  <div class="col-10 offset-1 my-auto">
    <div class="mb-4">
      <div class="heading__lg mb-2">Stake Reef and EARN Interest</div>
      <div class="label__lg mb-2">Enter your amount</div>
      <div class="d-flex align-items-center">
        <input #eth appNumbersOnlyInput class="w-75 form-control mr-2" type="number"/>
        <img alt="eth-logo" width="50" height="50" src="../../../../../assets/images/reef/reef-token.svg"/>
      </div>
    </div>
    <div class="mb-3">
      <div class="heading__lg mb-2">Yield</div>
      <div class="d-flex justify-content-center">
        <app-content-box class="mb-2 w-100">
          <div class="subheading__md text-dark">Pool APY</div>
          <div class="heading__md text-dark">13%</div>
        </app-content-box>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button
        mat-ripple
        (click)="onStake(+eth.value)"
        class="button-large regular">
        Stake Reef
      </button>
    </div>
  </div>
</div>
