<style type="text/css">
  .max-w-440 {
  }
</style>
<ng-container *ngIf="bond$ | async as bondNoTimes; else errorTemplate;">
  <ng-container *ngIf="connectorService.providerUserInfo$ | async as userInfo">
    <div class="row">
      <div class="col">
        <app-page-title
          title="Bond"
          subtitle="Lock tokens long-term and get returns"
          [chainId]="userInfo.chainInfo.chain_id"
          [transactionType]="TransactionType.REEF_BOND"
        ></app-page-title>
      </div>
    </div>
    <div class="page__wrapper row">
      <div class="col-12 col-sm-8 offset-sm-2 offset-xl-4 col-xl-4">
        <div class="card margin-auto max-w-440">
          <div class="card-body">
            <div class="text-center">
              <img
                *ngIf="bondNoTimes.farm!==bondNoTimes.stake"
                class="img-size-top-65"
                src="{{bondNoTimes.stakeTokenLogo}}"
                alt="reef-bond"
              />
              <img
                class="img-size-top-65"
                src="{{bondNoTimes.farmTokenLogo}}"
                alt="reef-bond"
              />
            </div>
            <div class="m-4 text-center">
              <div class="h6 mb-1">
                <div class="mb-2">{{bondNoTimes.bondName}}</div>
                <p>{{bondNoTimes.bondDescription}}</p>
              </div>

              <div
                class="card border-purple accent-text text-monospace p-2 text-left"
              >
                <div class="mb-1">Lock token: {{bondNoTimes.stake}}</div>
                <div class="mb-1" *ngIf="bondNoTimes.stake!==bondNoTimes.farm">
                  Rewards token: {{bondNoTimes.stake}}
                </div>
                <ng-container
                  *ngIf="lockDurationString$| async as timespanText;"
                >
                  <div class="mb-1">Lock duration: {{timespanText}}</div>
                </ng-container>
                <div class="mb-1">APY: {{bondNoTimes.apy}}%</div>
              </div>
            </div>
            <ng-container *ngIf="bondWithTimes$| async as bond; else loading">
              <ng-container
                *ngIf="(timeLeftToExpired$|async)!=null && bondsService.toBondSaleStatus(bond)===BondSaleStatus.OPEN else closed"
              >
                <div class="text-center">
                  <ng-container
                    *ngIf="TokenUtil.toMaxDisplayDecimalPlaces(BondUtil.getBondReturn(bond, stakeAmount).totalInterestReturn, null, bond.farmDecimals) as stakeAmountInterest; else enterValue "
                  >
                    <h5>
                      You will earn <br />{{stakeAmountInterest}} {{bond.farm}}
                    </h5>
                  </ng-container>
                  <ng-template #enterValue>
                    <h5 *ngIf="!stakeAmount; else amountTooLow">
                      Enter value to <br />see calculated profits.
                    </h5>
                    <ng-template #amountTooLow>
                      <h5>Value too low for calculation.</h5>
                    </ng-template>
                  </ng-template>
                </div>

                <div class="d-flex flex-column mb-4 text-muted">
                  <div>
                    <div class="small mb-1">Lock {{bond.stake}} amount:</div>
                    <div class="d-flex">
                      <input
                        appNumbersOnlyInput
                        [(ngModel)]="stakeAmount"
                        step="1"
                        class="form-control text-monospace small accent-text"
                        id="stakeAmount"
                        (keydown)="bond.stakeDecimals ? null : UiUtils.keydownPreventDecimal($event)"
                        placeholder="0"
                        type="number"
                      />
                      <div class="w-5-pc">
                        <img
                          style="height: 25px"
                          class="img-size-top-20 margin-em-05"
                          src="{{bond.stakeTokenLogo}}"
                          alt=""
                        />
                      </div>
                    </div>
                    <ng-container
                      *ngIf="(stakeTokenBalance$|async) as stakeTokenBalance"
                    >
                      <app-exceeded-balance-msg
                        *ngIf="stakeAmount!=null && stakeTokenBalance.balance>0"
                        [tokenBalance]="stakeTokenBalance"
                        [tokenAmount]="stakeAmount"
                      ></app-exceeded-balance-msg>
                      <app-set-input-relative-amount
                        [value]="stakeTokenBalance.balance"
                        (valueChange)="stakeAmount=$event.toString()"
                        [tokenSymbol]="bond.stake"
                        (refreshBalance)="tokenBalanceService.refreshBalancesForAddress.next(stakeTokenBalance.address)"
                      ></app-set-input-relative-amount>
                    </ng-container>
                  </div>
                </div>

                <div
                  class="text-center text-muted text-monospace mb-3 small-text"
                >
                  <app-countdown-timer
                    [expiresDate]="bond.entryEndTime"
                    accentColor="true"
                    >This offer ends <br />
                    when filled up or in
                  </app-countdown-timer>
                </div>

                <ng-container
                  *ngIf="(stakeTokenBalance$|async) as stakeTokenBalance"
                >
                  <div class="text-center">
                    <button
                      [disabled]="!stakeAmount
                      || stakeAmount <= 0
                      || stakeAmount > stakeTokenBalance.balance"
                      (click)="stake(bond, stakeAmount);"
                      class="btn btn-primary m-2"
                    >
                      Buy the bond
                    </button>
                  </div>
                </ng-container>

                <ng-container
                  *ngIf="stakedBalanceReturn$|async as stakedReturn"
                >
                  <p class="text-muted text-center text-monospace small-text">
                    You have locked {{stakedReturn.staked}}
                    {{stakedReturn.bond.stake}} <br />
                    that will earn
                    {{TokenUtil.toMaxDisplayDecimalPlaces(stakedReturn.totalInterestReturn,
                    null, stakedReturn.totalInterestReturn > 100 ?
                    bond.farmDecimals : bond.farmDecimals + 1)}}
                    {{stakedReturn.bond.farm}} in rewards.
                  </p>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-template #closed>
              <ng-container *ngIf="bondWithTimes$| async as bond; else loading">
                <div [ngSwitch]="bondsService.toBondSaleStatus(bond)">
                  <ng-container *ngSwitchCase="BondSaleStatus.LATE">
                    <div class="card">
                      <div class="h5 text-center">Bond sale closed.</div>
                      <p
                        class="text-center text-muted text-monospace small-text"
                      >
                        <!--Sale
                        <span class="accent-text"
                        >ended on {{bond.entryEndTime|date}}</span
                        >.<br/>-->
                        <ng-container
                          *ngIf="stakedBalanceReturn$|async as stakedReturn"
                        >
                          <!--You
                          <span class="accent-text"
                          >locked {{stakedReturn.staked}}
                            {{stakedReturn.bond.farm}}</span
                          >.<br/>-->

                          Your growing profit:<br
                            *ngIf="stakedReturn.currentInterestReturn?.toString().length>5"
                          />
                          <span class="accent-text"
                            >{{stakedReturn.currentInterestReturn}}
                            {{stakedReturn.bond.farm}}</span
                          ><br />
                          Unlock date:
                          <span class="accent-text"
                            >{{bond.farmEndTime|date}}</span
                          >
                        </ng-container>
                      </p>
                      <div
                        class="card bg-purple text-white text-center text-monospace m-4 p-2"
                      >
                        <ng-container
                          *ngIf="stakedBalanceReturn$|async as stakedReturn"
                        >
                          <span class="bold"
                            >{{stakedReturn.staked}}
                            {{stakedReturn.bond.stake}}</span
                          >
                          locked for<br />
                          <span class="bold"
                            >{{TokenUtil.toMaxDisplayDecimalPlaces(stakedReturn.totalInterestReturn,
                            null, stakedReturn.totalInterestReturn > 100 ?
                            bond.farmDecimals : bond.farmDecimals + 1)}}
                            {{stakedReturn.bond.farm}}
                          </span>
                          interest profit.
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="BondSaleStatus.EARLY">
                    <p class="text-center">
                      This bond sale is starting<br />
                      <span class="accent-text"
                        >at {{bond.entryStartTime|date:'short'}}</span
                      ><br />
                      <span class="accent-text"
                        ><app-countdown-timer
                          [expiresDate]="bond.entryStartTime"
                          >Get ready for the opening!</app-countdown-timer
                        >
                      </span>
                    </p>
                  </ng-container>
                  <ng-container *ngSwitchCase="BondSaleStatus.FILLED">
                    <div>
                      <p class="text-center">
                        <span class="accent-text font-weight-bold"
                          >This one sold out</span
                        >.<br />
                        <span class="text-muted"
                          >Few limited time offers still on the way. Follow us
                          on social media to get notified.</span
                        ><br />
                        <span class="accent-text font-weight-bold"
                          >Get ready for the next one!
                        </span>
                      </p>
                      <div class="card border-purple m-4">
                        <div class="row text-center justify-content-center">
                          <div class="col-md-2 col-6 social-box pt-4 pb-4 pr-0">
                            <a
                              href="https://twitter.com/ReefDeFi"
                              target="_blank"
                            >
                              <img
                                src="https://reef.finance/img/icons/twitter 1.png"
                                width="20px"
                                alt=""
                              />
                            </a>
                          </div>
                          <div class="col-md-2 col-6 social-box p-4">
                            <a
                              href="https://www.linkedin.com/company/reef-defi/"
                              target="_blank"
                            >
                              <img
                                src="https://reef.finance/img/icons/linkedin 1.png"
                                width="20px"
                                alt=""
                              />
                            </a>
                          </div>
                          <div class="col-md-2 col-6 social-box p-4">
                            <a
                              href="https://www.reddit.com/r/ReefDeFi/"
                              target="_blank"
                            >
                              <img
                                src="https://reef.finance/img/icons/reddit 1.png"
                                width="20px"
                                alt=""
                              />
                            </a>
                          </div>
                          <div class="col-md-2 col-6 social-box p-4">
                            <a href="https://t.me/reefdefi" target="_blank">
                              <img
                                src="https://reef.finance/img/icons/Telegram.png"
                                width="20px"
                                alt=""
                              />
                            </a>
                          </div>
                          <div class="col-md-2 social-box p-4 mr-3">
                            <a
                              href="https://medium.com/@ReefDefi"
                              target="_blank"
                            >
                              <img
                                src="https://reef.finance/img/icons/LogoMedium.png"
                                width="20px"
                                alt=""
                              />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-provider-loading>Loading blockchain data</app-provider-loading>
  </ng-template>
</ng-container>

<ng-template #errorTemplate>
  <app-empty-state title="Bond not found" subtitle="Bond is not supported yet.">
  </app-empty-state>
</ng-template>
