<div class="row">
  <app-page-title
    title="REEF Menu"
    subtitle="Buy REEF, Provide Liquidity, or Farm REEF!"
  ></app-page-title>
</div>

<div class="page__wrapper justify-content-around">
  <div class="row">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center mb-3">
            <img
              width="75"
              height="75"
              src="../../../../../assets/images/reef/reef_color.svg"
              alt="reef-token"
            />
          </div>
          <div
            class="
              d-flex
              flex-column
              align-items-center
              justify-content-center
              my-5
            "
            *ngIf="providerUserInfo$ | async as userInfo"
          >
            <div class="mb-3 h5">Buy REEF</div>
            <ng-container *ngIf="reefBalance$ | async as reefBalance">
              <p class="text-monospace text-center small">Your REEF Balance</p>
              <div class="h6">{{ (reefBalance.balance | number) || 0 }}</div>
            </ng-container>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button
              [routerLink]="['/reef/buy']"
              class="btn btn-primary font-weight-bold w-50"
            >
              Buy
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <img
              width="125"
              height="75"
              src="../../../../../assets/images/reef/reef_erc20token.svg"
              alt="invest"
            />
          </div>
          <div
            class="
              d-flex
              flex-column
              align-items-center
              justify-content-center
              my-5
            "
          >
            <div class="mb-3 h5">Earn UNI-LP Tokens</div>
            <p class="text-monospace text-center small">
              Provide Liquidity into a pool and earn a fee
            </p>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button
              [routerLink]="['/reef/pools']"
              class="btn btn-primary font-weight-bold w-50"
            >
              Pools
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <img
              width="75"
              height="75"
              src="../../../../../assets/images/reef/reef_farming.svg"
              alt="farming"
            />
          </div>
          <div
            class="
              d-flex
              flex-column
              align-items-center
              justify-content-center
              my-5
            "
          >
            <div class="mb-3 h5">Farm REEF</div>
            <p class="text-monospace text-center small">
              Deposit UNI-LP Tokens and earn REEF!
            </p>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button
              [routerLink]="['/reef/farms']"
              class="btn btn-primary font-weight-bold w-50"
            >
              Farms
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
