<div class="page__wrapper justify-content-around">
  <div class="row">
    <div class="col-10 offset-1 d-flex align-items-center justify-content-center mt-2 mb-5">
      <img
        width="250"
        height="125"
        class="img-fluid"
        src="../../../../../assets/images/reef/reef-v2.svg" alt="reef-logo">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="content__container d-flex flex-column justify-content-around">
        <div class="d-flex align-items-center justify-content-center">
          <img
            width="75"
            height="75"
            src="../../../../../assets/images/reef/reef_color.svg" alt="reef-token">
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center"
          *ngIf="providerUserInfo$ | async as userInfo">
          <div class="heading__lg">
            Buy Reef
          </div>
          <div class="subheading__lg mb-1">Your REEF Balance</div>
          <div class="subheading__lg">
            <strong>{{ (userInfo.reefBalance | number) || 0 }}</strong>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button [routerLink]="['/reef/buy']" class="button-large regular">Buy</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="content__container d-flex flex-column justify-content-around">
        <div class="d-flex align-items-center justify-content-center">
          <img
            width="125"
            height="75"
            src="../../../../../assets/images/reef/reef_erc20token.svg" alt="invest">
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center">
          <div class="heading__lg">
            Earn UNI-LP Tokens
          </div>
          <div class="subheading__lg">Provide Liquidity and earn a fee</div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button [routerLink]="['/reef/pools']" class="button-large regular">Pools</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="content__container d-flex flex-column justify-content-around">
        <div class="d-flex align-items-center justify-content-center">
          <img
            width="75"
            height="75"
            src="../../../../../assets/images/reef/reef_farming.svg" alt="farming">
        </div>
        <div
          class="d-flex flex-column align-items-center justify-content-center">
          <div class="heading__lg">
            Farm REEF
          </div>
          <div class="subheading__lg">Deposit UNI-LP Tokens and earn REEF!</div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button [routerLink]="['/reef/farms']" class="button-large regular">Farms</button>
        </div>
      </div>
    </div>
  </div>
</div>
