<ng-container *ngIf="{ ethPrice: ethPrice$ | async, providerName: providerName$ | async, providerUserInfo: providerUserInfo$ | async } as obs">
  <div class="min-vh-100">
    <div *ngIf="canEnter; else noPermissions">
      <app-sidebar *ngIf="obs.providerUserInfo"></app-sidebar>
      <div
        class="main light min-vh-100 container-fluid">
        <app-header
          *ngIf="obs.providerUserInfo"
          [ethPrice]="obs.ethPrice"
          [providerName]="obs.providerName"
          [providerUserInfo]="obs.providerUserInfo">
        </app-header>
        <router-outlet></router-outlet>
      </div>
      <app-footer *ngIf="!obs.providerUserInfo"></app-footer>
    </div>
  </div>
  <ng-template #noPermissions>
    <div class="heading__xl">
      Sorry boss. VIP personnel only ¯\_(ツ)_/¯
    </div>
  </ng-template>
</ng-container>
