@import '~src/assets/scss/styles';

.main {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main__active {
  padding-left: $sidebar-width + 15px;
  margin-bottom: -40px;
  @include media-breakpoint-down(sm) {
    padding-left: $mobile-sidebar-width + 15px;
    padding-top: 50px;
  }
}

.dark {
  background: map-get($theme-colors, dark);
}

.light {
  background: map-get($theme-colors, light);
}
