<ng-container *ngIf="{ ethPrice: ethPrice$ | async, providerName: providerName$ | async, providerUserInfo: providerUserInfo$ | async } as obs">
  <div class="min-vh-100">
    <app-sidebar *ngIf="obs.providerUserInfo"></app-sidebar>
    <div
      class="main light min-vh-100 container-fluid">
      <app-header
        *ngIf="obs.providerUserInfo"
        [ethPrice]="obs.ethPrice"
        [providerName]="obs.providerName"
        [providerUserInfo]="obs.providerUserInfo">
      </app-header>
      <router-outlet></router-outlet>
    </div>
    <app-footer *ngIf="!obs.providerUserInfo"></app-footer>
  </div>
</ng-container>
