@import '~src/assets/scss/partials/variables';

.main {
  padding-left: $sidebar-width + 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.dark {
  background: map-get($theme-colors, dark);
}

.light {
  background: map-get($theme-colors, light);
}
