<div class="row">
  <div class="col">
    <app-page-title
      title="REEF Baskets"
      subtitle="By investing through Reef, you can choose to invest into multiple types
        of basket, whether you want to take a higher risk, or just have a steady
        yield -- it's up to you. Below are the basket types we currently
        support."
    ></app-page-title>
  </div>
</div>
<div class="page__wrapper">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-md-12 mb-xl-0 mb-md-3 mb-sm-3 mb-3">
      <div class="card m-2 max-w-440 margin-auto height-100">
        <div
          class="card-body d-flex flex-column align-items-center justify-content-around"
        >
          <div class="card-title h6">Volatile Basket</div>
          <div class="d-flex align-items-center mb-2">
            <img
              class="mr-1"
              *ngFor="let coin of erc20Coins"
              src="../../../../../assets/images/tokens/{{coin}}.svg"
              [alt]="coin"
            />
          </div>
          <div class="card-text small text-monospace mb-2">
            This basket comprises of
            <span class="font-weight-bold">
              Uniswap, Balancer and Mooniswap pools as well as ERC-20
              coins</span
            >, which are selected as the highest yielding baskets based on our
            algorithm. You can use our pre-selected pools and ETH allocation in
            them, or you can <span class="font-weight-bold">customize it</span>,
            using the pools/coins you want and choose in which pool or coin you
            want to invest the most ETH. You can also tell our algorithm the
            level of Risk you want to take. This will make the return higher,
            but might make the loss higher as well.
          </div>
          <div>
            <button
              [routerLink]="['/baskets/create-basket']"
              class="btn btn-primary"
            >
              Create a Volatile Basket!
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-md-12 mb-xl-0 mb-md-3 mb-sm-3 mb-3">
      <div class="card m-2 max-w-440 margin-auto height-100">
        <div
          class="card-body d-flex flex-column align-items-center justify-content-around"
        >
          <div class="card-title h6">Stablecoin Basket</div>
          <div class="d-flex align-items-center mb-2">
            <img
              class="mr-1"
              *ngFor="let coin of stableCoins"
              src="../../../../../assets/images/tokens/{{coin}}.svg"
              [alt]="coin"
            />
          </div>
          <div class="card-text small text-monospace mb-2">
            The Stablecoin Basket is a basket comprised of
            <span class="font-weight-bold">Stablecoins</span> from different
            protocols which our algorithm selects for you
            <span class="font-weight-bold"
              >based on the highest APY (Annual Percentage Yield)</span
            >. It includes Coins from protocols such as
            <span class="font-weight-bold">Dfi, Yearn, Curve,</span>
            and more. You can choose the amount of ETH you wish to invest in
            each Stablecoin, and you can choose to invest a
            <span class="font-weight-bold"
              >minimum of three and maximum of ten Stablecoins.</span
            >
            They will always be selected starting from the highest APY, to the
            lowest. You can also view the ROI (Return of Investment) of every
            combination of coins you make.
          </div>
          <div>
            <button [routerLink]="['/vaults']" class="btn btn-primary">
              Create a Stablecoin Basket!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="row d-flex justify-content-around page__wrapper">-->
<!--  <div-->
<!--    class="col-5 content__container d-flex flex-column align-items-center justify-content-around"-->
<!--  >-->
<!--    <div class="heading__lg">Volatile Basket</div>-->
<!--    <div class="subheading__lg">-->
<!--      This basket comprises of-->
<!--      <span class="font-weight-bold">-->
<!--        Uniswap, Balancer and Mooniswap pools as well as ERC-20 coins</span-->
<!--      >, which are selected as the highest yielding baskets based on our-->
<!--      algorithm. You can use our pre-selected pools and ETH allocation in them,-->
<!--      or you can <span class="font-weight-bold">customize it</span>, using the-->
<!--      pools/coins you want and choose in which pool or coin you want to invest-->
<!--      the most ETH. You can also tell our algorithm the level of Risk you want-->
<!--      to take. This will make the return higher, but might make the loss higher-->
<!--      as well.-->
<!--    </div>-->
<!--    <div>-->
<!--      <button-->
<!--        [routerLink]="['/baskets/create-basket']"-->
<!--        class="button-large regular"-->
<!--      >-->
<!--        Create a Volatile Basket!-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div-->
<!--    class="col-5 content__container d-flex flex-column align-items-center justify-content-around"-->
<!--    [routerLink]="['/vaults']"-->
<!--  >-->
<!--    <div class="heading__lg">Stablecoin Basket</div>-->
<!--    <div class="subheading__lg">-->
<!--      The Stablecoin Basket is a basket comprised of-->
<!--      <span class="font-weight-bold">Stablecoins</span> from different protocols-->
<!--      which our algorithm selects for you-->
<!--      <span class="font-weight-bold"-->
<!--      >based on the highest APY (Annual Percentage Yield)</span-->
<!--      >. It includes Coins from protocols such as-->
<!--      <span class="font-weight-bold">Dfi, Yearn, Curve,</span>-->
<!--      and more. You can choose the amount of ETH you wish to invest in each-->
<!--      Stablecoin, and you can choose to invest a-->
<!--      <span class="font-weight-bold"-->
<!--      >minimum of three and maximum of ten Stablecoins.</span-->
<!--      >-->
<!--      They will always be selected starting from the highest APY, to the lowest.-->
<!--      You can also view the ROI (Return of Investment) of every combination of-->
<!--      coins you make.-->
<!--    </div>-->
<!--    <div>-->
<!--      <button [routerLink]="['/vaults']" class="button-large regular">-->
<!--        Create a Stablecoin Basket!-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
