<div class="row">
  <div class="col">
    <app-page-title
      title="REEF Baskets"
      subtitle="Baskets simplify
      the entry and management of various DeFi protocols from a single place."
    ></app-page-title>
  </div>
</div>

<app-unsupported-chain-msg
  [transactionType]="TransactionType.REEF_BASKET"
  [chainId]="(connectorService.providerUserInfo$ | async)?.chainInfo.chain_id"
>
  <div class="row">
    <div class="col">
      <div
        class="alert alert-warning text-monospace small d-flex align-items-center m-2"
      >
        Baskets on Ethereum Mainnet support the best known DeFi protocols. We
        are working towards deploying on other blockchains where gas fees are
        lower and acceptable for smaller budget allocations.
      </div>
    </div>
  </div>
  <div class="page__wrapper">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-12 mb-xl-0 mb-md-3 mb-sm-3 mb-3">
        <div class="card m-2 height-100">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-center mb-5">
              <img
                *ngFor="let coin of erc20Coins"
                src="../../../../../assets/images/tokens/{{coin}}.svg"
                class="img-size-top-65 mr-1"
              />
            </div>
            <div
              class="d-flex flex-column align-items-center justify-content-center"
            >
              <div class="h6">DeFi Basket</div>
              <div class="text-monospace text-muted small text-center col-12">
                This basket comprises of
                <span class="font-weight-bold">
                  Uniswap, Balancer and Mooniswap pools as well as ERC-20
                  tokens</span
                >, which are selected as the highest yielding baskets. You can
                use our pre-selected pools and ETH allocation in them, or you
                can <i class="font-weight-bold">customize it yourself</i>, using
                the pools/coins you want and choose in which pool or coin you
                want to invest the most ETH. You can also tell our algorithm the
                level of Risk you want to take. This will make the return
                higher, but might make the loss higher as well.
              </div>
            </div>
          </div>
          <div
            class="d-flex align-items-center justify-content-center pb-3 m-2"
          >
            <button
              [routerLink]="['/baskets/create-basket']"
              class="btn btn-primary white-space-normal m-1 p-2"
            >
              Create a DeFi Basket
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-md-12 mb-xl-0 mb-md-3 mb-sm-3 mb-3">
        <div class="card m-2 height-100">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-center mb-5">
              <img
                src="../../../../../assets/images/empty-token.png"
                class="img-size-top-65 mr-1"
              />
            </div>
            <div
              class="d-flex flex-column align-items-center justify-content-center"
            >
              <div class="h6">More to Come</div>
              <div class="text-monospace text-muted small text-center col-12">
                We will provide more types of baskets using different protocols
                which will result in more stable and higher yields. Stay tuned.
              </div>
            </div>
          </div>
          <div
            class="d-flex align-items-center justify-content-center pb-3 m-2"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</app-unsupported-chain-msg>
