<div class="d-flex flex-column p-3">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <div #h2 class="h4 mr-3 mt-1">Welcome to Reef!</div>
    <mat-divider
      [vertical]="true"
      [style.height.px]="h2.clientHeight"
    ></mat-divider>
    <img
      class="ml-3"
      src="../../../../../assets/images/reef/reef-v2.svg"
      width="50"
      height="50"
      alt=""
    />
  </div>
  <div class="d-flex flex-column justify-content-start mb-3">
    <div class="h5">Why Reef?</div>
    <p class="text-break font-light small">
      Reef is a DeFi operating system — a permission-less smart liquidity
      aggregator and yield engine that any financial hub can integrate into.
      Powered by Polkadot, Reef shares its security model with the Polkadot ecosystem and
      enables cross-chain integrations across top DeFi protocols. Reef gives the
      retail investor access to the DeFi landscape by lowering the technical
      barrier of entry.
    </p>
  </div>
  <div class="d-flex flex-column justify-content-start mb-3">
    <div class="h5">Before you join</div>
    <p class="text-break font-light small">
      We do not offer investment advice and nothing in our documents should be
      construed as investment advice. Our analytics engine provides information
      for investors who can make investment decisions on their own. You are by
      no means guaranteed to make any money using Reef. Even if past performance
      has been favourable, it is no indicator of future returns.
    </p>
  </div>
  <div class="d-flex flex-column justify-content-start mb-3">
    <p class="small text-muted">
      By clicking 'Accept', you indicate that you have read and acknowledged the
      above, read and accepted our
      <a href="https://www.reef.finance/terms_and_conditions.html"
        >Terms & Conditions</a
      >, and have complied with our
      <a href="https://www.reef.finance/privacy.html">Privacy Policy</a>.
    </p>
  </div>
  <div class="dialog__footer">
    <div>
      <button mat-ripple (click)="action(false)" class="btn btn-light">
        Decline
      </button>
    </div>
    <div>
      <button mat-ripple (click)="action(true)" class="btn btn-primary">
        Accept
      </button>
    </div>
  </div>
</div>
