<div class="d-flex flex-column p-3">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <h2 #h2 class="mr-3 mt-1">Welcome to Reef!</h2>
    <mat-divider [vertical]="true" [style.height.px]="h2.clientHeight"></mat-divider>
    <img class="ml-3" src="../../../../../assets/images/reef/reef-v2.svg" width="50" height="50" alt="">
  </div>
  <div class="d-flex flex-column justify-content-start mb-3">
    <h4 class="heading__md">
      Why Reef?
    </h4>
    <p class="text-break font-light">
      Reef is a DeFi operating system — a permission-less smart liquidity aggregator and yield engine where any
      financial hub can integrate into. Powered by Polkadot, it shares its security model with the ecosystem, and
      enables cross-chain integrations across top DeFi protocols. Reef gives the retail investor access to the DeFi
      landscape with a very low technical barrier of entry.
    </p>
  </div>
  <div class="d-flex flex-column justify-content-start mb-3">
    <h4 class="heading__md">
      Before you join
    </h4>
    <p class="text-break font-light">
      You are responsible for the safety of your funds and your capital.
      You are by no means guaranteed to make any money using Reef. Even if past performance is high, it is no
      indicator of the future returns.
    </p>
  </div>
  <div class="d-flex flex-column justify-content-start mb-3">
    <p>
      By clicking 'Accept', you indicate that you have read and acknowledged the above, read and accepted our
      <a href="https://www.reef.finance/terms_and_conditions.html">Terms & Conditions</a>,
      and have complied with our <a href="https://www.reef.finance/privacy.html">Privacy Policy</a>.
    </p>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <button mat-ripple (click)="action(false)" class="button-large inverse">Decline</button>
    </div>
    <div>
      <button mat-ripple (click)="action(true)" class="button-large regular">Accept</button>
    </div>
  </div>
</div>
