@import '_variables.scss';
@import '~bootstrap';

button {
  &.regular {
    background: map-get($theme-colors, primary);
    color: white;
  }

  &.inverse {
    background: white;
    color: black;
  }

  &.danger {
    background: map-get($theme-colors, danger);
    color: white;
  }

  &.button-large {
    width: 160px;
    height: 45px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: none;
    font-weight: 600;
    line-height: 1.4;
    font-size: 14px;
    box-shadow: 0 0 5px #2C2296;
    border-radius: 10px;
  }

  &.button-small {
    width: 55px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 7px;
    text-align: center;
    border: 0.3px solid #DADADA;
    border-radius: 3px;
  }
}

.enjoyhint_next_btn.regular {
  display: flex;
  align-items: center;
  justify-content: center;
  background: map-get($theme-colors, primary);
  color: white;
  width: 55px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 7px;
  text-align: center;
  border: 0.3px solid #DADADA;
  border-radius: 3px;
}

.enjoyhint_skip_btn.danger {
  display: flex;
  align-items: center;
  justify-content: center;
  background: map-get($theme-colors, danger);
  color: white;
  width: 55px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 7px;
  text-align: center;
  border: 0.3px solid #DADADA;
  border-radius: 3px;
}
.enjoyhint_prev_btn.inverse {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  width: 55px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 7px;
  text-align: center;
  border: 0.3px solid #DADADA;
  border-radius: 3px;
}
.mat-icon.icon-button {
  color: #DE5DA6;
}
