@import '_variables.scss';
@import '~bootstrap';

button {
  transition: 0.3s;
  &:disabled {
    opacity: 0.4;
  }

  &:hover {
    &:not([disabled]) {
      box-shadow: 0 0.5em 0.5em -0.4em black;
      transform: translateY(-0.25em);
    }
  }

  &.regular {
    background: linear-gradient(180deg, rgba(136,126,242,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    box-shadow: 1px 1px 5px darkslategray;
  }

  &.inverse {
    background: white;
    color: black;
    box-shadow: 0 0 5px #2C2296;
  }

  &.danger {
    background: map-get($theme-colors, danger);
    color: white;
  }

  &.button-large {
    width: 160px;
    height: 45px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: none;
    font-weight: 500;
    line-height: 1.4;
    font-size: 13px;
    border-radius: 10px;
  }

  &.button-small {
    width: 55px;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 7px;
    text-align: center;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 5px #2C2296;
  }
}

.enjoyhint_next_btn.regular {
  display: flex;
  align-items: center;
  justify-content: center;
  background: map-get($theme-colors, primary);
  color: white;
  width: 55px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 7px;
  text-align: center;
  border: 0.3px solid #DADADA;
  border-radius: 3px;
}

.enjoyhint_skip_btn.danger {
  display: flex;
  align-items: center;
  justify-content: center;
  background: map-get($theme-colors, danger);
  color: white;
  width: 55px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 7px;
  text-align: center;
  border: 0.3px solid #DADADA;
  border-radius: 3px;
}

.enjoyhint_prev_btn.inverse {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  width: 55px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 7px;
  text-align: center;
  border: 0.3px solid #DADADA;
  border-radius: 3px;
}

.mat-icon.icon-button {
  color: #DE5DA6;
  font-size: 18px;
}
