@import '_variables.scss';

.page__wrapper {
  margin: 15px;
}

.content__container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  background: map-get($theme-colors, lightest);
  color: map-get($font-colors, dark);
  padding: 15px;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 0 0 8px #00000029;
  border-radius: 8px;
}

input {
  background: #F3F3F3 !important;
  border-radius: 10px !important;
  padding: 5px;
  border: 0 !important;
}
