@import '_variables.scss';

.page__wrapper {
  margin: 15px 0;
}

.content__container {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  background: map-get($theme-colors, lightest);
  color: map-get($font-colors, dark);
  padding: 15px;
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 0 0 8px #00000029;
  border-radius: 8px;
}

.sidebar__address {
  background: map-get($theme-colors, light);
  font-weight: 500;
  color: map-get($theme-colors, dark);;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  transition: 0.3s;
  margin: 1rem 1rem 2rem 1rem;
  &:hover {
    cursor: pointer;
    background: darken(map-get($theme-colors, light), 10)
  }
  .address__circle {
    color: map-get($theme-colors, success);
    transform: scale(0.5);
  }
}

.reef__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: $sidebar-width;
  margin-top: -25px;
  align-items: center;
  background: linear-gradient(180deg, rgba(136,126,242,1) 0%, rgba(0,212,255,1) 100%);
  color: map-get($theme-colors, lightest);
  cursor: pointer;
}

.reef__menu--item {
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  margin-bottom: 0.5rem;
  &:hover {
    background: #EAE8FD;
    color: $sidebar-primary;
  }
}

.address__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: map-get($theme-colors, light);
  color: map-get($theme-colors, dark);
  cursor: pointer;
}

.address__menu--item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 15px 20px;
  transition: 0.3s;
  margin-bottom: 5px;
  &:hover {
    background: darken(map-get($theme-colors, light), 10)
  }
}

input {
  background: #F3F3F3 !important;
  border-radius: 10px !important;
  padding: 5px;
  border: 0 !important;
}
