@import '_variables.scss';

.error.mat-snack-bar-container {
  background: map-get($theme-colors, danger);
  color: map-get($theme-colors, lightest);
}

.success.mat-snack-bar-container {
  background: $dark-primary;
  color: map-get($theme-colors, lightest);
}

.info.mat-snack-bar-container {
  background: map-get($theme-colors, info);
  color: map-get($theme-colors, lightest);
}

.mat-slider.mat-slider-disabled {
  .mat-slider-track-background {
    background: black;
  }
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  //top: 18px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 8px;
  border-radius: 8px
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-accent .mat-slider-thumb {
  height: 26px;
  width: 26px;
  background-color: #F64E60 !important;
  bottom: -16px;
  right: -16px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #F64E60;
}

.mat-slider-track-background {
  background: #F3F3F3 !important;
}

.mat-dialog-container {
  background: map-get($theme-colors, lightest);
  border-radius: 7px !important;
}

.mat-slide-toggle-bar {
  background: map-get($theme-colors, dark) !important;
}

.mat-slide-toggle-thumb {
  background: #F64E60 !important;
  z-index: 10000;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background: map-get($theme-colors, light) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background: #F64E60 !important;
}

.mat-chip {
  background: #DE5DA6 !important;
  color: #ffffff !important;
}

.mat-select-value-text {
  color: map-get($font-colors, dark);
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.mat-progress-bar-buffer {
  background: map-get($theme-colors, lighter) !important;
}

.apexcharts-tooltip {
  color: #DE5DA6;
}
