$dark-primary: #10163A;
$sidebar-width: 220px;
$mobile-sidebar-width: 0px;
$primary-gradient:  -webkit-linear-gradient(#A80DE6, #F37C8E);
$header-height: 95px;
$sidebar-primary: #887EF2;
$theme-colors: (
  "primary":    #6610f2,
  "secondary":  #6c757d,
  "success":    #007bff,
  "info":       #17a2b8,
  "light":      #f2f3f4,
  "lighter":    #F3F3F3,
  "dark":       #343a40,
  "danger":     #dc3545,
  "lightest":   #FFFFFF,
);

$font-colors: (
  "primary":    #393939,
  "light":      #848484,
  "lightest":   #FFFFFF,
  "danger":     #F64E60,
  "success":    #69DC9E,
)
