@import '~src/assets/scss/styles';

.footer {
  position: absolute;
  bottom: 0;
  padding: 5px;
  color: map-get($theme-colors, dark);
  background: map-get($theme-colors, light);
  @include media-breakpoint-up(md) {
    margin-left: $sidebar-width;
  }
}

.footer__company {
  font-weight: 300;
}

a {
  font-weight: 500;
  color: map-get($theme-colors, dark)
}
