@import '~src/assets/scss/styles';

.footer {
  position: sticky;
  bottom: 0;
  padding: 1px 10px;
  width: 100%;
  color: map-get($theme-colors, dark);
  background: map-get($theme-colors, light);
}

.footer__company {
  font-weight: 300;
}

a {
  font-weight: 500;
  color: map-get($theme-colors, dark)
}
