<div class="d-flex flex-column p-2">
  <div class="h6">Satisfied with your basket?</div>
  <label class="small text-muted mb-2" for="customEthAmount"
    >Enter your amount</label
  >
  <div class="d-flex align-items-center mb-3">
    <input
      (keyup)="onNumberInput()"
      class="w-75 form-control mr-2 accent-text"
      id="customEthAmount"
      appNumbersOnlyInput
      [formControl]="ethAmount"
      placeholder="Amount of ETH"
      min="1"
      max="100"
      type="number"
    />
    <img class="img-size-top-25" src="../../../../../assets/images/eth.png" />
  </div>
  <div class="d-flex justify-content-between" mat-dialog-actions>
    <button class="btn btn-danger" (click)="onClose()">Cancel</button>
    <button class="btn btn-primary" [mat-dialog-close]="onInvest()">
      Invest
    </button>
  </div>
</div>
