<ng-container *ngIf="!(loading$ | async); else loadingTemplate">
  <ng-container *ngIf="address$ | async as address; else errorTemplate">
    <ng-container *ngIf="lpContract$ | async as contract">
      <ng-container *ngIf="tokenBalance$ | async as tokenBalance">
        <ng-container *ngIf="tokenSymbol$ | async as token">
          <div class="page__wrapper row">
            <div class="col-6 offset-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center mb-3">
                    [<ng-container *ngIf="token !== 'TOKEN'">{{ token }} – </ng-container>REEF]</div>
                  <div class="d-flex align-items-center justify-content-center mb-3">
                    <img
                      *ngIf="token !== 'TOKEN'"
                      class="img-size-top-60"
                      src="../../../../../assets/images/{{ token === 'WETH' ? 'eth.png' : 'usdt.png' }}"
                      alt="alt-token">
                    <img
                      class="img-size-top-60"
                      src="../../../../../assets/images/reef/reef-token.svg" alt="reef-token">
                  </div>
                    <div
                      class="d-flex flex-column align-items-center justify-content-center mb-4">
                      <div class="text-monospace text-muted small text-center mb-2">
                        Stake your
                        <strong class="font-weight-bold">UNI-V2 LP Tokens</strong>
                        in the
                        <strong class="font-weight-bold"><span *ngIf="token !== 'TOKEN'">{{ token }}/</span>REEF</strong>
                        pool to earn REEF!
                      </div>
                    </div>
                  <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column align-items-center justify-content-center mb-4">
                      <div class="small text-muted mb-1">
                        Pool APY
                      </div>
                      <div
                        class="small">
                    <span class="font-weight-bold">
                      {{ apy | number }} %
                    </span>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center mb-4">
                      <div class="small text-muted mb-1">
                        Staked LP Tokens
                      </div>
                      <div
                        *ngIf="stakedAmount$ | async as staked"
                        class="small">
                    <span class="font-weight-bold">
                      {{ staked | number }} {{ token !== 'TOKEN' ? ' LP Tokens' : 'REEF' }}
                    </span>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center mb-4">
                    <div class="small text-muted mb-1">
                      Pending REWARD
                    </div>
                    <div
                      *ngIf="reefReward$ | async as pendingReef"
                      class="small">
                    <span class="font-weight-bold">
                      {{ pendingReef | number }} REEF
                    </span>
                    </div>
                  </div>
                  </div>
                  <div
                    class="d-flex flex-column align-items-center mb-4">
                    <div class="d-flex justify-content-start align-items-center mb-2">
                      <div class="small text-muted align-self-start mr-1">
                        {{ token !== 'TOKEN' ? 'LP Tokens' : 'REEF' }} amount
                      </div>
                      <div class="small">
                        (Balance: <span class="font-weight-bold">{{tokenBalance | number}}</span>
                        {{ token !== 'TOKEN' ? 'LP Tokens' : 'REEF' }})
                      </div>
                    </div>
                    <input
                      [(ngModel)]="reefAmount"
                      class="form-control w-50 small"
                      id="reefAmount"
                      placeholder="0.0" type="number"/>
                    <div class="small text-center mt-1" *ngIf="+reefAmount > tokenBalance">
                    <span class="text-danger">
                      Insufficient REEF-{{token}} LP Tokens
                    </span>
                    </div>
                  </div>
                  <div
                    *ngIf="!loading"
                    class="d-flex align-items-center justify-content-around">
                    <button
                      [disabled]="!reefAmount ||
                            reefAmount > tokenBalance || reefAmount <= 0"
                      (click)="deposit(contract, address, reefAmount)" class="btn btn-primary mr-2">
                      Deposit Tokens
                    </button>
                    <div *ngIf="stakedAmount$ | async as staked">
                      <button
                        [disabled]="staked <= 0"
                        (click)="withdraw(address, reefAmount)" class="btn btn-primary mr-2">
                        Withdraw Funds
                      </button>
                    </div>
                    <div *ngIf="reefReward$ | async as reward">
                      <button
                        [disabled]="reward <= 0"
                        (click)="withdraw(address, 0)" class="btn btn-primary">
                        Harvest Tokens
                      </button>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-around">
                    <app-loading *ngIf="loading" diameter="25"></app-loading>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #errorTemplate>
  <app-empty-state
    title="Wrong address"
    subtitle="You have the wrong address, or we do not support that pool currently.">
  </app-empty-state>
</ng-template>

<ng-template #loadingTemplate>
  <app-loading [isWholePage]="true"></app-loading>
</ng-template>


<!--<input-->
<!--  #reefAmount-->
<!--  placeholder="Stake LP" type="number">-->
<!--<button (click)="deposit(contract, address, amount.value)">Stake</button>-->
<!--<button (click)="withdraw(address, amount.value)">Withdraw</button>-->
<!--<button (click)="withdraw(address, 0)">Harvest</button>-->
