<ng-container *ngIf="!(loading$ | async); else loadingTemplate">
  <ng-container *ngIf="address$ | async as address; else errorTemplate">
    <ng-container *ngIf="lpContract$ | async as contract">
      <ng-container *ngIf="tokenBalance$ | async as tokenBalance">
        <ng-container *ngIf="tokenSymbol$ | async as token">
          <div class="row">
            <div class="col">
              <app-page-title *ngIf="token !== 'TOKEN'"
                              title="Farm"
                              [subtitle]="'Stake your UNI-V2 LP Tokens in the '+getSubtitleTokenPart(token)+' pool to earn REEF!'"
              ></app-page-title>
              <app-page-title *ngIf="token === 'TOKEN'"
                              title="Farm"
                              [subtitle]="'Stake your REEF Tokens in the pool to earn even more REEF!'"
              ></app-page-title>
            </div>
          </div>
          <div class="page__wrapper row">
            <div class="col-12">
              <div class="card align-items-center max-w-550 margin-auto">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center mb-4">
                    <img
                      *ngIf="token !== 'TOKEN'"
                      class="img-size-top-70"
                      src="../../../../../assets/images/{{ token === 'ETH' || token === 'WETH' ? 'eth.png' : 'usdt.png' }}"
                      alt="alt-token">
                    <img
                      class="img-size-top-70"
                      src="../../../../../assets/images/reef/reef-token.svg" alt="reef-token">
                  </div>
                  <div *ngIf="token !== 'TOKEN'" class="h6 m-4 text-center">Farm LP tokens</div>
                  <div *ngIf="token === 'TOKEN'" class="h6 m-4 text-center">Farm REEF token</div>
                  <div
                    class="col-sm-12 col-md-8 offset-md-2 max-w-xs flex-column mb-5 text-muted">
                    <div class="d-flex justify-content-start align-items-center mb-2">
                      <div class="small  align-self-start mr-1">
                        {{ token !== 'TOKEN' ? 'LP Tokens' : 'REEF' }} amount
                      </div>
                    </div>
                    <input
                      appNumbersOnlyInput
                      [(ngModel)]="reefAmount"
                      class="form-control small accent-text"
                      id="reefAmount"
                      placeholder="0.0" type="number"/>
                    <ng-container *ngIf="+reefAmount <= tokenBalance; else noBalance">
                      <app-set-input-relative-amount
                        [value]="tokenBalance"
                        [tokenSymbol]="token !== 'TOKEN' ? 'LP Tokens' : 'REEF'"
                        (valueChange)="reefAmount=$event"
                        (refreshBalance)="refreshBalance(contract,address)"
                      ></app-set-input-relative-amount>
                    </ng-container>
                    <ng-template #noBalance>
                      <div class="small text-center mt-1">
                        <span class="text-danger">
                          Insufficient REEF-{{token}} LP Tokens
                        </span>
                      </div>
                    </ng-template>
                  </div>
                  <div class="row">
                    <div class="mb-4 col">
                      <div class="card border-purple accent-text p-05 height-100 text-monospace justify-content-center">
                        <div class="small mb-1 text-center">
                          Pool APY
                        </div>
                        <div
                          class="small text-center">
                    <span class="font-weight-bold text-center">
                      {{ apy | number }} %
                    </span>
                        </div>
                        <ng-container *ngIf="!loading">
                          <div class="text-center mt-3">
                            <button
                              [disabled]="!reefAmount ||
                            reefAmount > tokenBalance || reefAmount <= 0"
                              (click)="deposit(contract, address, reefAmount.toString(10))"
                              class="btn btn-primary white-space-normal width-100 small-line-h">
                              Deposit <span class="x-small-text">Tokens</span>
                            </button>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="mb-4 col">
                      <div class="card border-purple accent-text p-05 height-100 text-monospace justify-content-center">
                        <div class="small mb-1 text-center">
                          Staked LP Tokens
                        </div>
                        <div
                          *ngIf="stakedAmount$ | async as staked"
                          class="small text-center">
                    <span class="font-weight-bold">
                      {{ staked | number }} {{ token !== 'TOKEN' ? ' LP Tokens' : 'REEF' }}
                    </span>
                        </div>
                        <ng-container *ngIf="!loading">
                          <div *ngIf="stakedAmount$ | async as staked" class="text-center mt-3">
                            <button
                              [disabled]="staked <= 0"
                              (click)="withdraw(address, reefAmount)"
                              class="btn btn-primary white-space-normal width-100">
                              Withdraw
                            </button>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="mb-4 col">
                      <div class="card border-purple accent-text p-05 height-100 text-monospace justify-content-center">
                        <div class="small mb-1 text-center ">
                          Pending REWARD
                        </div>
                        <div
                          *ngIf="reefReward$ | async as pendingReef"
                          class="small text-center">
                    <span class="font-weight-bold">
                      {{ pendingReef | number:'1.0-0' }} REEF
                    </span>
                        </div>
                        <ng-container *ngIf="!loading">
                          <div *ngIf="reefReward$ | async as reward" class="text-center mt-3">
                            <button
                              [disabled]="reward <= 0"
                              (click)="withdraw(address, 0)"
                              class="btn btn-primary white-space-normal width-100 small-line-h">
                              Harvest <span class="x-small-text">Tokens</span>
                            </button>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-around">
                    <app-loading *ngIf="loading" diameter="25"></app-loading>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #errorTemplate>
  <app-empty-state
    title="Wrong address"
    subtitle="You have the wrong address, or we do not support that pool currently.">
  </app-empty-state>
</ng-template>

<ng-template #loadingTemplate>
  <app-loading [isWholePage]="true"></app-loading>
</ng-template>
