<ng-container *ngIf="!!+value; else noBalance">
  <span
    class="badge badge-pill badge-primary mr-1 c-pointer"
    (click)="
      valueChange.emit(
        TokenUtil.toMaxDisplayDecimalPlaces(value * 0.25, tokenSymbol)
      )
    "
  >25%</span
  >
  <span
    class="badge badge-pill badge-primary mr-1 c-pointer"
    (click)="
      valueChange.emit(
        TokenUtil.toMaxDisplayDecimalPlaces(value * 0.5, tokenSymbol)
      )
    "
  >50%</span
  >
  <span
    class="badge badge-pill badge-primary mr-1 c-pointer"
    (click)="
      valueChange.emit(
        TokenUtil.toMaxDisplayDecimalPlaces(value * 0.75, tokenSymbol)
      )
    "
  >75%</span
  >
  <span
    class="badge badge-pill badge-primary mr-1 c-pointer"
    (click)="
      valueChange.emit(TokenUtil.toMaxDisplayDecimalPlaces(value, tokenSymbol))
    "
  >100%</span
  >
  <small
  >of {{ TokenUtil.toMaxDisplayDecimalPlaces(value, tokenSymbol) }}
    <!--<span [ngSwitch]="tokenSymbol">
    <ng-container *ngSwitchCase="TokenSymbol.USDT">
      {{ value | number:'1.1-2' }}
    </ng-container>
    <ng-container *ngSwitchCase="TokenSymbol.REEF">
      {{ value | number:'1.0-0' }}
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{value | number:'1.1-4'}}
    </ng-container>
      {{tokenSymbol}}
  </span>-->
  </small>
</ng-container>
<ng-template #noBalance>
  <div class="d-flex align-items-center justify-content-center text-danger">
    <small
    >Please add {{ tokenSymbol }}
      <span *ngIf="tokenSymbol !== TokenSymbol.REEF">LP</span>
      tokens, then
      <a href="#" (click)="$event.preventDefault(); refreshBalance.emit()"
      >refresh balance</a
      >.
    </small>
  </div>
</ng-template>
