<div class="card">
  <div class="card-body">
    <div *ngIf="Object.keys(basket).length > 0; else emptyChartsTemplate">
      <div class="h6">Composition</div>
      <div class="small text-muted mb-2">
        You can modify the allocated amount using the sliders
      </div>
      <div *ngFor="let key of Object.keys(basket); let i = index">
        <div class="small text-monospace ml-2 d-flex align-items-end">
          <mat-icon
            *ngIf="errorSymbol === key"
            class="red-text position-warning-icon"
            >warning</mat-icon
          >
          <span [class.red-text]="errorSymbol === key">{{ key }}</span>
        </div>
        <div
          class="d-flex justify-content-between align-items-center ml-2 mr-2"
        >
          <div class="small font-weight-bold mb-1">{{ basket[key] }}%</div>
          <button
            class="mb-3"
            (click)="onRemovePool(key)"
            matTooltip="Remove {{ key }}"
            mat-ripple
            mat-icon-button
          >
            <mat-icon class="icon-button"> cancel</mat-icon>
          </button>
        </div>
        <mat-slider
          class="w-100 slider mt-n4"
          [disabled]="disabledSlider"
          min="1"
          [max]="100 - Object.keys(basket).length"
          step="1"
          thumbLabel
          (valueChange)="onAllocChange(key, $event)"
          [value]="basket[key]"
        ></mat-slider>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary p2" (click)="onInvest()">Invest</button>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyChartsTemplate>
  <div class="h6">Basket is empty</div>
  <div class="small text-muted">
    Add some pools or coins to start customizing your basket.
  </div>
</ng-template>
