@import '../../../../assets/scss/partials/variables';

.content-box {
  height: 45px;
  padding: 8px 19px;
  margin: 0 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: map_get($theme-colors, light);
  font-weight: 500;
}

.address {
  background: #EAE8FD;
  letter-spacing: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
