<div class="row">
  <div class="col">
    <app-page-title
      title="About Reef"
      subtitle="Making DeFi Easy for Everyone"
    ></app-page-title>
  </div>
</div>

<div class="page__wrapper">
  <div class="row">
    <div class="card m-2 max-w-550 margin-auto reef-bg text-white">
      <div class="card-body p-2 m-4">
        <p class="text-monospace text-center mt-2 mb-3">
          Reef Finance is a cross-chain DeFi operating system which has been
          designed to make DeFi easy for everyone.
        </p>
        <p class="">
          Reef’s global liquidity aggregator searches the entire DeFi landscape
          to provide the best investment opportunities to users, in an all in
          one platform. Moreover, Reef’s AI power smart analytic engine provides
          personalized investment advice to users, allowing them to invest in
          DeFi tokens as per their profit target and risk appetite. To lower the
          entry barrier for DeFi investors, Reef has partnered with some of the
          leading DeFi players, such as Avalanche, Kava, and OpenDeFi, allowing
          users to access investment opportunities on all these partner
          platforms through Reef’s application.
        </p>
        <p class="">
          Reef Finance had an extremely successful launch through Binance’s
          Launchpad platform last year, when Reef became the first project from
          the Polkadot ecosystem to be listed on Binance. Reef has also been
          listed on other global crypto exchanges, such as Huobi Global and
          Poloniex. REEF has been regularly featuring as one of the top trending
          tokens as per CoinMarketCap data.
        </p>
        <div class="mt-sm-1 mt-md-5 text-right pr-3 pb-sm-5 pb-md-0">
          <img class="bottom-logo" src="/assets/images/reef/reef.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
