<div class="row">
  <div class="col">
    <app-page-title
      title="About Reef"
      subtitle="Making DeFi Easy for Everyone"
    ></app-page-title>
  </div>
</div>

<div class="page__wrapper">
  <div class="row">
    <div class="card m-2 max-w-550 margin-auto reef-bg text-white">
      <div class="card-body p-2 m-4">
        <p class="text-monospace text-center mt-2 mb-3 px-2">
          Reef Finance is a cross-chain DeFi operating system which has been
          designed to make DeFi easy for everyone.
        </p>
        <p class="px-2">
          Reef’s global liquidity aggregator searches the entire DeFi landscape
          to provide the best investment opportunities to users, in an all in
          one platform. Moreover, Reef’s AI power smart analytics engine
          provides personalized investment advice to users, allowing them to
          invest in DeFi tokens as per their profit target and risk appetite. To
          lower the entry barrier for DeFi investors, Reef has partnered with
          some of the leading DeFi players, such as Avalanche, Kava, and
          OpenDeFi, allowing users to access investment opportunities on all
          these partner platforms through Reef’s application.
        </p>
        <p class="px-2">
          Reef Finance had an extremely successful launch through Binance’s
          Launchpad platform last year, when Reef became the first project from
          the Polkadot ecosystem to be listed on Binance. Reef has also been
          listed on other global crypto exchanges, such as Huobi Global and
          Poloniex. REEF has been regularly featuring as one of the top trending
          tokens as per CoinMarketCap data.
        </p>

        <!--<div class="mt-sm-1 mt-md-5 text-right pr-3 pb-sm-5 pb-md-0">
          <img class="bottom-logo" src="/assets/images/reef/reef.svg">
        </div>-->
        <div class="card m-4 row text-center justify-content-center flex-row">
          <div class="social-box pt-4 pb-4 pl-0 pr-2">
            <a href="https://twitter.com/ReefDeFi" target="_blank">
              <img
                src="https://reef.finance/img/icons/twitter 1.png"
                width="20px"
                alt=""
              />
            </a>
          </div>
          <div class="social-box p-4">
            <a
              href="https://www.linkedin.com/company/reef-defi/"
              target="_blank"
            >
              <img
                src="https://reef.finance/img/icons/linkedin 1.png"
                width="20px"
                alt=""
              />
            </a>
          </div>
          <div class="social-box p-4">
            <a href="https://www.reddit.com/r/ReefDeFi/" target="_blank">
              <img
                src="https://reef.finance/img/icons/reddit 1.png"
                width="20px"
                alt=""
              />
            </a>
          </div>
          <div class="social-box p-4">
            <a href="https://t.me/reefdefi" target="_blank">
              <img
                src="https://reef.finance/img/icons/Telegram.png"
                width="20px"
                alt=""
              />
            </a>
          </div>
          <div class="social-box p-4 mr-3">
            <a href="https://medium.com/@ReefDefi" target="_blank">
              <img
                src="https://reef.finance/img/icons/LogoMedium.png"
                width="20px"
                alt=""
              />
            </a>
          </div>
          <div class="social-box py-4 pr-0 mr-0">
            <a href="https://reef.finance/" target="_blank">
              <img class="bottom-logo" src="/assets/images/reef/reef-v2.svg" />
            </a>
          </div>
        </div>
        <div class="px-2">
          <!--          <span class="text-monospace">Links:</span>-->
          <p>
            Lightpaper PDF:
            <a
              class="text-white"
              href="https://reef.finance/resources/ReefLitePaper_v100c.pdf"
              target="_blank"
              >Click here</a
            ><br />
            Roadmap:
            <a
              class="text-white"
              href="https://www.notion.so/45181a0374144559b2a97962c1011725?v=fbfd03422dad4a8d98f9b3a8e7cd32ae"
              target="_blank"
              >Click here</a
            ><br />
            Website:
            <a class="text-white" href="https://reef.finance/" target="_blank"
              >https://reef.finance</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
