.reef-bg {
  background-color: #f2f3f4;
  background-image: url('/assets/images/reef/HeroSectionBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 54%;
}
@media (max-width: 467px) {
  /* Target devices narrower than 768px. */
  .reef-bg {
    padding-bottom: 10em;
  }
}

.card-body {
  padding-bottom: 12em !important;
}

.bottom-logo {
  width: 60px;
}
