.reef-bg {
  background-color: #f2f3f4;
  background-image: url("/assets/images/reef/HeroSectionBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 54%;
}

.card-body {
  padding-bottom: 13em !important;
}

.bottom-logo {
  width: 120px;
}

