<div>
  <div class="d-flex align-items-center">
    <div class="h5">{{ title }}</div>
    <div class="ml-1">
      <mat-icon
        *ngIf="!!positions"
        class="text-muted small-text c-pointer"
        (click)="refresh.emit()"
        >refresh
      </mat-icon>
    </div>
  </div>
  <ng-template #loading>
    <div class="d-flex flex-column justify-content-center align-content-center">
      <div class="mb-1 small">Loading positions...</div>
      <app-loading diameter="25"></app-loading>
    </div>
  </ng-template>
  <div *ngIf="positions?.length">
    <span class="d-xl-none d-lg-none text-muted small-text"
      ><mat-icon class="small-icon">multiple_stop</mat-icon
      ><span class="align-to-icon">scroll data</span>
    </span>
  </div>
</div>
<div *ngIf="!!positions; else loading">
  <ng-template #emptyPositions>
    <div *ngIf="positions.errMessage; else noData">
      <span class="small-text text-muted">{{ positions.errMessage }}</span>
      <button class="btn btn-light ml-3" (click)="refresh.emit()">retry</button>
    </div>
    <ng-template #noData
      ><span class="small-text text-muted"
        >No positions found.</span
      ></ng-template
    >
  </ng-template>
  <div
    *ngIf="positions.length; else emptyPositions"
    class="mb-4 table-responsive-lg"
  >
    <ng-content></ng-content>
  </div>
</div>
