<div class="d-flex flex-column p-2">
  <!--  <div class="heading__md mb-2">Price not suppor</div>-->
  <!--  <div class="subheading__md">Choose REEF/Yield ratio</div>-->
  <div class="mt-3 w-100">
    <p>
      Currently we can not display prices for some tokens on selected
      blockchain.
    </p>
  </div>
  <div class="d-block" mat-dialog-actions>
    <button
      mat-ripple
      class="float-right inverse mr-3 btn-primary btn"
      (click)="onClose()"
    >
      OK
    </button>
  </div>
</div>
