@import '~src/assets/scss/styles';
$mid: 50%;

#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: map-get($theme-colors, light);
  background-size: cover;
  background-position: 50% 50%;
}

.center {
  @include media-breakpoint-up(md) {
    position: fixed;
    top: 45%;
    left: calc(#{$mid} + #{$sidebar-width - 150px});
    margin-right: calc(-#{$mid} + #{$sidebar-width});
    transform: translate(-50%, -50%);
  }
}
.heading__container {
  @include media-breakpoint-up(md) {
    height: 100%;
  }
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
}

.heading__title {
  display: flex;
  align-items: center;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    margin-bottom: 1rem;
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.heading__title--welcome {
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 0.5rem;
  }
}

.wallet__wrapper {
  padding: 50px 25px;
}
