<div
  *ngIf="{ walletConnected: isWalletConnected$ | async, contractConnected: contract$ | async } as obs"
  [class.connected__separator]="obs.walletConnected && obs.contractConnected"
>
  <div class="row d-flex justify-content-end">
    <button
      *ngIf="!obs.walletConnected"
      class="btn btn-primary btn-lg mr-5"
      (click)="openDisclaimer()"
    >
      Connect your wallet
    </button>
  </div>
  <div class="row align-items-center center">
    <div
      id="welcome_to_reef"
      class="
        col-8
        offset-2
        heading__container
        d-flex
        flex-column
        align-items-center
        text-center
      "
    >
      <img
        class="img-fluid w-25 mb-3"
        src="./assets/images/reef/reef-v2.svg"
        alt=""
      />
      <div class="d-flex align-items-center">
        <div class="mr-2 h2">Welcome to Reef Finance!</div>
      </div>
      <p class="h6 text-break font-weight-normal text-monospace accent-text">
        Making DeFi Easy for Everyone
      </p>
      <div class="col-md-12 col-xl-9 mt-3">
        <p class="mt-3 text-muted">
          Reef Finance provides the gateway to the DeFi landscape through
          Liquidity and Protocol Aggregation, Proprietary Analytics,
          Personalized Recommendations and Multi-Chain Accessibility.
        </p>
      </div>
    </div>
  </div>
</div>
