@import '~src/assets/scss/styles';

.heading__container {
  @include media-breakpoint-up(md) {
    margin-top: 200px;
    height: 100%;
  }
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
}

.heading__title {
  display: flex;
  align-items: center;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    margin-bottom: 1rem;
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.heading__title--welcome {
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 0.5rem;
  }
}

.wallet__wrapper {
  padding: 50px 25px;
}
