<div class="row page__wrapper">
  <div class="parameters__wrapper col-6">
    <app-create-basket
      [ethAmount]="ethAmount"
      [riskAmount]="risk"
      (invest)="createBasket()">
    </app-create-basket>
  </div>
  <div class="col-6 justify-content-right">
    <app-basket-composition
      [basket]="basket">
    </app-basket-composition>
  </div>
</div>

<div class="row page__wrapper mt-4">
  <div class="col-12">
    <app-basket-roi
      [activeTimeSpan]="currentRoiTimespan"
      [roiData]="roiData"
      (dateSpanChange)="getHistoricRoi($event)"
    ></app-basket-roi>
  </div>
</div>
