<div class="row">
  <div class="col">
    <app-page-title
      *ngIf="connectorService.providerUserInfo$|async as userInfo else noAddrTitle"
      title="Reef Card"
      subtitle="Buy With Crypto Every Day"
    ></app-page-title>
    <ng-template #noAddrTitle>
      <app-page-title
        title="Reef Card"
        subtitle="Buy With Crypto Every Day"
      ></app-page-title>
    </ng-template>
  </div>
</div>

<div class="page__wrapper">
  <div class="row justify-content-center">
    <ng-container *ngIf="loading$|async as loading else loaded">
      <div class="col-lg-8 col-xl-6 col-12">
        <div class="card justify-content-center">
          <div class="col-12 text-center p-3">
            <app-skeleton-loading count="2" type="chart"></app-skeleton-loading>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loaded>
      <ng-container
        *ngIf="(connectorService.providerUserInfo$|async) as userInfo"
      >
        <ng-container
          *ngIf="accountCardRegistered$|async as registered else cardNotRegistered"
        >
          <div class="col-xl-5 col-md-12 mb-xl-0 mb-md-3 mb-sm-3 mb-3">
            <div class="card">
              <div class="d-flex flex-column">
                <div class="card-body">
                  <div class="h6 mb-2">Fill up card</div>
                  <p *ngIf="!(cardVerified$|async)">
                    Please complete card verification before filling it up.
                  </p>
                  <div class="d-flex flex-column">
                    <div class="align-items-center">
                      <div class="col-12">
                        <div class="mb-1">
                          <!--                      <div class="h6 mb-4 text-center">Buy REEF token</div>-->
                          <div class="small text-muted mb-1">
                            Enter your amount
                          </div>
                          <div class="d-flex align-items-center">
                            <input
                              appNumbersOnlyInput
                              [ngModel]="tokenAmountSub | async"
                              (ngModelChange)="tokenAmountSub.next($event)"
                              class="w-75 form-control mr-2 accent-text"
                              type="number"
                              placeholder="0"
                            />
                            <ng-container
                              *ngIf="selTokenSub | async as selectedToken"
                            >
                              <div class="d-flex align-items-center">
                                <img
                                  (click)="tokenSelect.open()"
                                  *ngIf="selectedToken === TokenSymbol.ETH"
                                  class="c-pointer"
                                  alt="token-logo"
                                  width="26"
                                  height="26"
                                  src="../../../../../assets/images/eth.png"
                                />
                                <!--<img
                              (click)="tokenSelect.open()"
                              *ngIf="selectedToken === TokenSymbol.USDT"
                              class="c-pointer"
                              alt="token-logo"
                              width="26"
                              height="26"
                              src="../../../../../assets/images/usdt.png"
                            />-->
                                <div
                                  class="small mx-1 c-pointer"
                                  (click)="tokenSelect.open()"
                                >
                                  {{ selectedToken }}
                                </div>
                                <mat-select
                                  #tokenSelect
                                  [value]="selectedToken"
                                  (valueChange)="selTokenSub.next($event)"
                                >
                                  <mat-option
                                    [value]="token.tokenSymbol"
                                    *ngFor="let token of supportedTokensSub.value"
                                  >
                                    <div class="d-flex align-items-center">
                                      <img
                                        class="mr-1"
                                        width="18"
                                        height="18"
                                        src="../../../../../assets/images/{{ token.src }}"
                                        alt=""
                                      />
                                      {{ token.tokenSymbol }}
                                    </div>
                                  </mat-option>
                                </mat-select>
                                <button
                                  class="
                                    btn btn-primary btn
                                    ml-2
                                    d-none d-sm-flex
                                  "
                                  [disabled]="!(cardVerified$|async)"
                                  (click)="transferToCard()"
                                >
                                  Send to card
                                </button>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                        <ng-container
                          *ngIf="selectedTokenBalance$ | async as tokenBalance"
                        >
                          <div class="d-flex align-items-center">
                            <app-exceeded-balance-msg
                              [tokenBalance]="tokenBalance"
                              [tokenAmount]="tokenAmountSub.value"
                            ></app-exceeded-balance-msg>
                          </div>
                          <ng-container
                            *ngIf="connectorService.providerUserInfo$ | async as userInfo"
                          >
                            <div class="text-muted">
                              <app-set-input-relative-amount
                                [value]="tokenBalance.balance"
                                [tokenSymbol]="
                      TokenSymbol[tokenBalance.contract_ticker_symbol]
                    "
                                (refreshBalance)="
                      this.tokenBalanceService.refreshBalancesForAddress.next(
                        userInfo.address
                      )
                    "
                                (valueChange)="tokenAmountSub.next($event)"
                              ></app-set-input-relative-amount>
                            </div>
                          </ng-container>
                        </ng-container>

                        <div class="d-sm-none mt-3 text-center">
                          <button
                            class="btn btn-primary btn"
                            [disabled]="!(cardVerified$|async)"
                            (click)="transferToCard()"
                          >
                            Send to card
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3 mt-3">
                      <!--                      <div class="h6 mb-3">Balances</div>-->
                      <div class="d-flex justify-content-between text-white">
                        <div class="card w-50 mr-2">
                          <div class="card-body border-purple accent-text">
                            <div class="small text-monospace">
                              {{userInfo.address|shortAddrDisplay}} balance
                            </div>
                            <div class="text-monospace">
                              <ng-container
                                *ngIf="selectedTokenBalance$ | async as tokenBalance"
                              >
                                {{ TokenUtil.toMaxDisplayDecimalPlaces(
                                tokenBalance.balance, TokenSymbol.ETH )}}
                                {{TokenSymbol[tokenBalance.contract_ticker_symbol]}}
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="card w-50 mr-2">
                          <div class="card-body bg-purple">
                            <div class="small text-monospace">Card balance</div>
                            <div class="text-monospace">
                              <div
                                *ngIf="cardVerified$|async; else notVerifiedBalance"
                              >
                                {{cardBalance$|async}}}
                              </div>
                              <ng-template #notVerifiedBalance>
                                Please complete card verification first.
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-md-12 mb-xl-0 mb-md-3 mb-sm-3 mb-3">
            <div class="card">
              <div class="d-flex flex-column">
                <div class="card-body">
                  <div class="h6 mb-2">
                    Manage Reef Card {{userInfo.address|shortAddrDisplay}}
                  </div>
                  <div class="d-flex flex-column card-w">
                    <ng-container *ngIf="iframeSession$|async as session">
                      <ng-container *ngIf="!session.error else noSession">
                        <iframe
                          class="card-iframe w-100 h-100"
                          frameborder="0"
                          height="600px"
                          [src]="baanxBaseUrl+'/iframe/'+session.access_token+'/'+session.user_id | safeUrl"
                          sandbox="allow-forms allow-popups allow-scripts allow-same-origin"
                        ></iframe>
                      </ng-container>
                      <ng-template #noSession
                        >Error getting card session.
                      </ng-template>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #cardNotRegistered>
          <div class="col">
            <!--<div class="row justify-content-center">
              <div class="col-lg-8 col-xl-6 col-12">
                <div class="card justify-content-center">
                  <div class="col-12 text-center p-3">
                    <p>
                      Connected address {{userInfo.address|shortAddrDisplay}}<br>
                      is not registered with Reef card.
                    </p>
                    <button
                      class="btn btn-primary m-3 p-2"
                      (click)="openCardForm()"
                    >
                      <app-svg-icon icon="credit-card"></app-svg-icon>
                      Order Reef card
                    </button>
                    <p>or connect with different address.</p>
                  </div>
                </div>
              </div>
            </div>-->
            <div class="row justify-content-center">
              <div class="col-12 col-xl-8">
                <div class="row justify-content-center">
                  <div
                    class="
                      col-12
                      _col-lg-4
                      d-flex
                      align-items-center
                      justify-content-center
                      reef-card-w
                      flex-column
                      p-4
                      pt-3 pt-lg-3
                      pr-lg-0
                      pl-lg-4
                      mr-lg-0
                    "
                  >
                    <img
                      src="assets/images/reef/reef-card.png"
                      class="reef-card-img p-0 mb-4"
                    />
                  </div>
                  <div class="col-12 _col-lg-8">
                    <div class="card">
                      <div class="col-12">
                        <div class="_card justify-content-center">
                          <div class="col-12 text-center p-3">
                            <p>
                              Connected address
                              {{userInfo.address|shortAddrDisplay}}<br />
                              is not registered with Reef card.
                            </p>
                            <button
                              class="btn btn-primary m-3 p-2"
                              (click)="openCardForm()"
                            >
                              <app-svg-icon icon="credit-card"></app-svg-icon>
                              Order Reef card
                            </button>
                            <p>or connect with your registered card address.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="card">
                              <div class="card-body">
                                <h6 class="card-title">
                                  Spend crypto in 60 million stores
                                </h6>
                                <p class="card-text">
                                  With Reef Visa Card you can buy directly at 60
                                  million merchants worldwide. Just transfer
                                  REEF to your card wallet and you are ready to
                                  pay. Spend your REEF earnings anytime,
                                  anywhere.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="card">
                              <div class="card-body">
                                <h6 class="card-title">
                                  Zero, 零, el cero, ゼロ Fees
                                </h6>
                                <p class="card-text">
                                  Your Reef Visa Card is completely free! Reef
                                  will not charge any administrative or
                                  processing fees*.
                                  <br /><small
                                    >*Third-party fees might be still
                                    applicable</small
                                  >
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="card">
                              <div class="card-body">
                                <h6 class="card-title">
                                  #hodl and exchange only when needed
                                </h6>
                                <p class="card-text">
                                  Keep your savings in crypto and convert only
                                  what you spend.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="card">
                              <div class="card-body">
                                <h6 class="card-title">Up to 8% cash-back</h6>
                                <p class="card-text">
                                  Earn extra REEF for the money you spend. The
                                  more you spend the more REEF you get.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </ng-template>
  </div>
</div>

<ng-template #cardFormDialog>
  <div class="d-flex flex-column p-3">
    <div class="d-flex justify-content-center align-items-center mb-4">
      <div #h2 class="h4 mr-3 mt-1">Welcome to Reef Card!</div>
      <mat-divider
        [vertical]="true"
        [style.height.px]="h2.clientHeight"
      ></mat-divider>
      <img
        class="ml-3"
        src="../../../../../assets/images/reef/reef-v2.svg"
        width="50"
        height="50"
        alt=""
      />
    </div>
    <mat-dialog-content>
      <div class="d-flex flex-column justify-content-start mb-3">
        {{cardData.valid}}
        <ng-form #cardData="ngForm">
          <div class="d-flex flex-column mb-4 text-muted">
            <div>
              <div class="small mb-1">Gender:</div>
              <div class="d-flex">
                <mat-select
                  placeholder="Select gender"
                  id="gender"
                  name="gender"
                  required="required"
                  [(ngModel)]="cardData.value.gender"
                  (selectionChange)="cardData.value.gender=$event.value;cardData.value.title=$event.value=='M'?'Mr':'Mrs'"
                >
                  <mat-option
                    *ngFor="let gender of GENDER_OPTIONS"
                    [value]="gender.v"
                  >
                    {{gender.l}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div>
              <div class="small mb-1">First name:</div>
              <div class="d-flex">
                <input
                  [(ngModel)]="cardData.value.first_name"
                  class="form-control text-monospace small accent-text"
                  id="first_name"
                  name="first_name"
                  placeholder="First name"
                  type="text"
                  required="required"
                />
              </div>
            </div>
            <div>
              <div class="small mb-1">Last name:</div>
              <div class="d-flex">
                <input
                  [(ngModel)]="cardData.value.last_name"
                  class="form-control text-monospace small accent-text"
                  id="last_name"
                  name="last_name"
                  placeholder="Last name"
                  type="text"
                  required="required"
                />
              </div>
            </div>
            <div>
              <div class="small mb-1">Email:</div>
              <div class="d-flex">
                <input
                  [(ngModel)]="cardData.value.email"
                  class="form-control text-monospace small accent-text"
                  id="email"
                  name="email"
                  placeholder="Email"
                  type="text"
                  required="required"
                />
              </div>
            </div>
            <div>
              <div class="small mb-1">Phone number:</div>
              <div class="d-flex">
                <ngx-intl-tel-input
                  #phoneSelect
                  required="required"
                  [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                  [selectFirstCountry]="false"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="true"
                  [numberFormat]="PhoneNumberFormat.International"
                  (change)="setPhone(phoneSelect.selectedCountry.dialCode, phoneSelect.value, cardData.value)"
                >
                </ngx-intl-tel-input>
              </div>
            </div>
            <div>
              <div class="small mb-1">Street address:</div>
              <div class="d-flex">
                <input
                  [(ngModel)]="cardData.value.addressLine1"
                  class="form-control text-monospace small accent-text"
                  id="addressLine1"
                  name="addressLine1"
                  placeholder="Address"
                  type="text"
                  required="required"
                />
              </div>
            </div>
            <div>
              <div class="small mb-1">House Number:</div>
              <div class="d-flex">
                <input
                  [(ngModel)]="cardData.value.house_number"
                  class="form-control text-monospace small accent-text"
                  id="house_number"
                  name="house_number"
                  placeholder="House Number"
                  type="text"
                  required="required"
                />
              </div>
            </div>
            <div>
              <div class="small mb-1">City or town:</div>
              <div class="d-flex">
                <input
                  [(ngModel)]="cardData.value.cityOrTown"
                  class="form-control text-monospace small accent-text"
                  id="cityOrTown"
                  name="cityOrTown"
                  placeholder="City or town"
                  type="text"
                  required="required"
                />
              </div>
            </div>
            <div>
              <div class="small mb-1">Postcode:</div>
              <div class="d-flex">
                <input
                  [(ngModel)]="cardData.value.postcode"
                  class="form-control text-monospace small accent-text"
                  id="postcode"
                  name="postcode"
                  placeholder="Postcode"
                  type="text"
                  required="required"
                />
              </div>
            </div>
            <div>
              <div class="small mb-1">Country:</div>
              <div class="d-flex">
                <mat-select
                  placeholder="Select Country"
                  id="selected_country"
                  name="selected_country"
                  required="required"
                  [(ngModel)]="cardData.value.selected_country"
                  (selectionChange)="setCountryName(cardData.value, $event.value, countryCodes)"
                >
                  <mat-option
                    *ngFor="let country of countryCodes"
                    [value]="country['alpha-2']"
                  >
                    {{country.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div>
              <div class="small mb-1">Date of birth:</div>
              <div class="d-flex">
                <!--<input
                  [(ngModel)]="cardData.value.dateOfBirth"
                  class="form-control text-monospace small accent-text"
                  id="dateOfBirth"
                  name="dateOfBirth"
                  placeholder="Date of birth"
                  type="text"
                  required="required"
                />-->

                <input
                  matInput
                  [matDatepicker]="picker"
                  (click)="picker.open()"
                  (dateChange)="setDate($event.value, cardData.value)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
          </div>
        </ng-form>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <div class="mr-2">
        <button
          mat-ripple
          (click)="createUser.next(cardData.value); dialog.closeAll()"
          class="btn btn-primary"
        >
          Sign and send
        </button>
      </div>
    </mat-dialog-actions>
  </div>
</ng-template>
