<div
  id="buyReef"
  class="card row">
  <div class="card-body">
    <div class="col-10 offset-1 my-auto">
      <div class="mb-4">
        <div class="h6 mb-4">Buy REEF</div>
        <div class="small text-muted mb-1">Enter your amount</div>
        <div class="d-flex align-items-center">
          <div class="input-group">
            <input
              [(ngModel)]="tokenAmount"
              (ngModelChange)="onAmountChange($event)"
              class="w-75 form-control mr-2" type="number"/>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">max</span>
            </div>
          </div><div class="d-flex align-items-center">
            <img
              *ngIf="selectedToken === 'WETH'"
              alt="token-logo" width="26" height="26" src="../../../../../assets/images/eth.png"/>
            <img
              *ngIf="selectedToken === 'USDT'"
              alt="token-logo" width="26" height="26" src="../../../../../assets/images/usdt.png"/>
            <div class="small mx-1">{{ selectedToken }}</div>
            <mat-select
              [value]="selectedToken"
              (valueChange)="selectedToken = $event; onTokenChange(selectedToken)">
              <mat-option [value]="token.symbol" *ngFor="let token of supportedTokens">
                <div class="d-flex align-items-center">
                  <img
                    class="mr-1"
                    width="18"
                    height="18"
                    src='../../../../../assets/images/{{token.src}}' alt="">
                  {{ token.symbol }}
                </div>
              </mat-option>
            </mat-select>
          </div>
          <ng-container *ngIf="(this.connectorService.providerUserInfo$|async) as addr">
            {{addr|json}}
<!--            s={{this.getTokenBalances(addr)|async|json}}-->
          </ng-container>
        </div>
        <div *ngIf="tokenPrices && tokenPrices.totalReefReserve && tokenPrices.REEF_PER_TOKEN" class="mt-1">
          <div
            *ngIf="tokenPrices.REEF_PER_TOKEN * tokenAmount > tokenPrices.totalReefReserve"
            class="small text-danger">
            Total REEF Reserve in this pool is {{ tokenPrices.totalReefReserve | number }} REEF
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="h6 mb-3">Prices</div>
        <div
          *ngIf="tokenPrices && tokenPrices.REEF_PER_TOKEN; else loadingTemplate"
          class="d-flex justify-content-between">
          <div class="card w-50 mr-2">
            <div class="card-body bg-purple">
              <div class="small text-monospace text-white">Reef per {{ selectedToken }}</div>
              <div class="text-monospace text-white">
                {{ tokenPrices.REEF_PER_TOKEN | number }}
              </div>
            </div>
          </div>
          <div class="card w-50">
            <div class="card-body bg-purple">
              <div class="small text-monospace text-white">Reef/USD</div>
              <div class="text-monospace text-white">
                {{ (selectedToken === 'USDT' ? tokenPrices.TOKEN_PER_REEF : tokenPrices.TOKEN_PER_REEF * ethPrice) | number }}
                USD
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="tokenPrices && tokenPrices.REEF_PER_TOKEN"
        class="mb-4 d-flex align-items-center">
        <div class="small mr-1">You receive a minimum of:</div>
        <div class="text-monospace font-weight-bold d-flex align-items-center">
          <div>
            ~{{ tokenPrices.amountOutMin | number }}
          </div>
          <div class="ml-1">
            <img
              height="20"
              width="20"
              src="../../../../../assets/images/reef/reef-token.svg" alt="">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button
          *ngIf="!loading"
          [disabled]="tokenAmount == 0 || (tokenPrices &&
        tokenPrices.REEF_PER_TOKEN &&
        +tokenPrices.REEF_PER_TOKEN * tokenAmount > +tokenPrices.totalReefReserve)"
          mat-ripple
          (click)="onBuy(tokenAmount)"
          class="btn btn-primary">
          Buy REEF
        </button>
        <app-loading *ngIf="loading" [diameter]="25"></app-loading>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-skeleton-loading
    count="2"
    type="vault"></app-skeleton-loading>
</ng-template>
