<!--<div class="pb-md-3 mt-2">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-none d-md-inline-flex align-items-center" style="height:32px">
      <h5 class="mb-0 text-body font-weight-bold text-monospace" style="font-size: 1.25rem">
        {{title}}
      </h5>
    </div>
  </div>
</div>
<div class="pb-md-2 mt-2">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-none d-md-inline-flex align-items-center">
      <p class="mb-0 text-body">
        {{subtitle}}
      </p>
    </div>
  </div>
</div>-->
<div
  class="pb-md-2 mt-4 d-none d-flex justify-content-between align-items-center"
>
  <h3 class="font-size-3em mb-0 margin-auto">
    {{ title }}
  </h3>
</div>
<div class="pb-md-2">
  <div class="d-flex justify-content-between align-items-center width-100">
    <div class="d-none d-md-inline-flex align-items-center width-100">
      <p
        class="mb-0 text-body margin-auto text-monospace max-w-500 text-center"
      >
        {{ subtitle }}
      </p>
    </div>
  </div>
</div>
