<ng-container *ngIf="data.type === 'error'">
  <div class="small text-break mb-2">
    {{ data.message }}
  </div>
  <div>
    <button
      mat-raised-button
      class="btn btn-sm btn-light"
      (click)="snackBarRef.dismiss()"
    >
      <span class="small font-weight-bold">{{ data.buttonText }}</span>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="data.type === 'success'">
  <div class="heading__md">Success</div>
  <div class="small text-break mb-2">
    {{ data.message }}
  </div>
  <div>
    <button class="btn btn-sm btn-light" (click)="snackBarRef.dismiss()">
      <span class="small font-weight-bold">{{ data.buttonText }}</span>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="data.type === 'info'">
  <div class="small text-break mb-2">
    {{ data.message }}
  </div>
  <div>
    <button class="btn btn-sm btn-light" (click)="snackBarRef.dismiss()">
      <span class="small font-weight-bold">{{ data.buttonText }}</span>
    </button>
  </div>
</ng-container>
