<ng-container *ngIf="data.type === 'error'">
  <div class="text-break mb-2">
    {{ data.message }}
  </div>
  <div>
    <button mat-raised-button class="button-small inverse" (click)="snackBarRef.dismiss()">{{ data.buttonText }}</button>
  </div>
</ng-container>

<ng-container *ngIf="data.type === 'success'">
  <h5>Success</h5>
  <div class="text-break mb-2">
    {{ data.message }}
  </div>
  <div>
    <button class="button-small regular" mat-raised-button (click)="snackBarRef.dismiss()">{{ data.buttonText }}</button>
  </div>
</ng-container>

<ng-container *ngIf="data.type === 'info'">
  <div class="text-break mb-2">
    {{ data.message }}
  </div>
  <div>
    <button class="button-small regular" mat-raised-button (click)="snackBarRef.dismiss()">{{ data.buttonText }}</button>
  </div>
</ng-container>
