<div class="row">
  <div class="col">
    <app-page-title
      title="Farms"
      subtitle="Stake your LP Coins in our farms"
    ></app-page-title>
  </div>
</div>

<div class="page__wrapper">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 h-100" *ngFor="let farm of farms">
      <div class="card m-2">
        <div class="card-body ">
          <div class="d-flex align-items-center justify-content-center mb-5">
            <img
              *ngFor="let img of farm.imgs"
              class="img-size-top-65"
              [src]="'assets/images/' + img">
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="h6">
              {{farm.name}}
            </div>
            <div class="text-monospace text-muted small text-center" [innerHTML]="farm.description">

            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center pb-3 m-2">
          <button [routerLink]="['/reef/farm', farm.link]" class="btn btn-primary">
            {{farm.btnLabel}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
