<div class="row">
  <app-page-title
    title="Farms"
    subtitle="Stake your LP Coins in our farms"
  ></app-page-title>
</div>

<div class="page__wrapper justify-content-around">
  <div class="row">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center mb-5">
            <img
              width="75"
              height="75"
              src="../../../../../assets/images/reef/reef-token.png" alt="reef-token">
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center mb-5">
            <div class="h6">
              REEF
            </div>
            <div class="text-monospace text-muted small text-center">
              Stake your REEF Tokens into a
              <strong class="font-weight-bold">Pure REEF</strong>
              farm to earn
              <strong class="font-weight-bold">REEF returns!</strong>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button [routerLink]="['/reef/farm', PURE_REEF_POOL]" class="btn btn-primary">
              Farm REEF
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center mb-5">
            <img
              width="75"
              height="75"
              src="../../../../../assets/images/reef/reef-token.png" alt="reef-token">
            <img
              width="75"
              height="75"
              src="../../../../../assets/images/eth.png" alt="eth-token">
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center mb-5">
            <div class="h6">
              REEF & ETH
            </div>
            <div class="text-monospace text-muted small text-center mb-1">
              Stake your LP Tokens into
              <strong class="font-weight-bold">REEF-ETH</strong>
              pool to earn
              <strong class="font-weight-bold">REEF tokens</strong>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button [routerLink]="['/reef/farm', REEF_WETH_POOL]" class="btn btn-primary">
              Stake into REEF/WETH
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center mb-5">
            <img
              width="75"
              height="75"
              src="../../../../../assets/images/reef/reef-token.png" alt="reef-token">
            <img
              width="60"
              height="60"
              src="../../../../../assets/images/usdt.png" alt="usdt-token">
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center mb-5">
            <div class="h6">
              REEF & USDT
            </div>
            <div class="text-monospace text-muted small text-center">
              Stake your LP Tokens into
              <strong class="font-weight-bold">REEF-USDT</strong>
              pool to earn
              <strong class="font-weight-bold">REEF tokens</strong>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button [routerLink]="['/reef/farm', REEF_USDT_POOL]" class="btn btn-primary">
              Stake into REEF/USDT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
