<div *ngIf="isListView" class="card w-100">
  <div class="card-body">
    <div class="row justify-content-between align-items-center">
      <div
        class="
          col-lg-2 col-xl-2 col-sm-12 col-md-12
          d-flex
          text-center
          flex-column
          justify-content-center
          align-content-center
        "
      >
        <div class="h5">
          {{ basket.name }}
        </div>
        <div class="text-monospace text-muted">INVESTED</div>
        <div class="h6">{{ basket.investedETH | number: '1.2-2' }} ETH</div>
        <div class="text-monospace text-muted">TYPE</div>
        <div class="h6">DeFi</div>
        <div class="text-monospace text-muted">ROI</div>
        <div *ngIf="basketRoi != null; else noRoi" class="h6 text-primary">
          {{ basketRoi | number: '1.1-2' }}%
        </div>
        <div class="text-monospace text-muted">TOTAL ACCRUED</div>
        <div
          *ngIf="totalAccrued != null; else noRoi"
          class="h6 text-primary mb-3"
        >
          {{ totalAccrued | number: '1.2-2' }} ETH
        </div>
        <div>
          <button
            mat-ripple
            (click)="onDisinvest()"
            class="btn btn-danger w-100"
          >
            Liquidate
          </button>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-sm-12 col-md-12">
        <ng-container *ngIf="poolChartOptions; else loadingTemplate">
          <app-basket-composition
            [canCustomize]="false"
            [basket]="pureBasket"
            [isList]="true"
          >
          </app-basket-composition>
        </ng-container>
      </div>
      <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12">
        <ng-container *ngIf="roiData; else loadingTemplate">
          <app-basket-roi
            [roiData]="roiData"
            [isList]="true"
            [activeTimeSpan]="activeTimeSpan"
            (dateSpanChange)="getHistoricRoi(pureBasket, $event)"
          ></app-basket-roi>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isListView" class="content__container">
  <div class="row d-flex justify-content-between align-items-center mt-3 mb-4">
    <div class="col-7 h6">
      {{ basket.name }}
    </div>
    <div class="col-4 heading__lg font-weight-bold">DeFi</div>
  </div>
  <div class="row mb-2">
    <div class="col-3">
      <div class="h6">{{ basket.investedETH | number: '1.2-2' }} ETH</div>
      <div class="text-monospace text-muted">INVESTED</div>
    </div>
    <div class="col-3">
      <div *ngIf="basketRoi != null; else noRoi" class="h6 text-primary">
        {{ basketRoi | number: '1.1-2' }}%
      </div>
      <div
        *ngIf="totalAccrued != null; else noRoi"
        class="h6 text-primary mb-3"
      >
        {{ totalAccrued | number: '1.2-2' }} ETH
      </div>
    </div>
    <div class="col-6">
      <button mat-ripple (click)="onDisinvest()" class="btn btn-danger w-100">
        Liquidate
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-basket-composition
        [canCustomize]="false"
        [basket]="pureBasket"
        [isList]="true"
      >
      </app-basket-composition>
    </div>
  </div>
  <div class="row mt-3 mt-auto">
    <ng-container *ngIf="roiData; else loadingTemplate">
      <div class="col-12 p-0">
        <app-basket-roi
          [roiData]="roiData"
          [isList]="true"
          [activeTimeSpan]="activeTimeSpan"
          (dateSpanChange)="getHistoricRoi(pureBasket, $event)"
        ></app-basket-roi>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="w-100">
    <app-skeleton-loading type="chart" count="5"></app-skeleton-loading>
  </div>
</ng-template>

<ng-template #noRoi>
  <div class="h6 text-primary mb-2">N/A</div>
</ng-template>
