<div class="content__container w-100">
  <div class="row ">
    <div class="col-2 d-flex text-center flex-column justify-content-center align-content-center">
      <div class="heading__lg mb-5">{{ basket.name }}</div>
      <div class="heading__md mb-1">{{ basket.investedETH }} ETH</div>
      <div class="subheading__md mb-5">INVESTED</div>
      <div class="heading__md mb-1">+51% ROI</div>
      <div class="subheading__md mb-5">+ 5.61 ETH</div>
      <div>
        <button (click)="onDisinvest()" class="button-large regular">Liquidate</button>
      </div>
    </div>
    <div class="col-5">
      <ng-container *ngIf="poolChartOptions; else loadingTemplate">
        <apx-chart
          [series]="poolChartOptions.series"
          [chart]="poolChartOptions.chart"
          [dataLabels]="poolChartOptions.dataLabels"
          [plotOptions]="poolChartOptions.plotOptions"
          [yaxis]="poolChartOptions.yaxis"
          [xaxis]="poolChartOptions.xaxis"
          [fill]="poolChartOptions.fill"
          [title]="poolChartOptions.title"
        ></apx-chart>
      </ng-container>
    </div>
    <div class="col-5">
      <ng-container *ngIf="roiChartOptions; else loadingTemplate">
        <apx-chart
          [series]="roiChartOptions.series"
          [chart]="roiChartOptions.chart"
          [dataLabels]="roiChartOptions.dataLabels"
          [grid]="roiChartOptions.grid"
          [stroke]="roiChartOptions.stroke"
          [xaxis]="roiChartOptions.xaxis"
          [title]="roiChartOptions.title"
        ></apx-chart>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>
